{% from "macro/head-article.html" import headArticle as head %}
{% from "macro/contactLinks.html" import contactLinks %}

{% extends "inner-layout.html" %}

{% block head %}
    {{ head("../css/articlePage/index.css") }}
{% endblock%}

{% block content %}
    <section class="title-section section-container">
        <div class="content-wrapper">
            <div class="section-content">
                <a class="back-link" href="../insights.html">
                    <img src="../assets/images/SmallArrow.svg" alt="arrow" aria-hidden="true">Insights
                </a>
                <h1>How to reduce Google Ads mistakes that can kill your budget</h1>
            </div>
        </div>
    </section>
    <section class="content-section section-container">
        <img class="top-background" src="../assets/images/cubes-insights.svg" alt="cubes" aria-hidden="true">
        <img class="bottom-background" src="../assets/images/cubes-insights1.svg" alt="cubes" aria-hidden="true">
        <div class="content-wrapper">
            <article class="article">
                <p>
                    You can reach a wide audience and gain instant access to potential customers with contextual
                    advertising in Google Ads.</p>
                <p>
                    However, the bigger the advertising amounts are, the more difficult it becomes to incorporate all
                    setting features which come with targeted advertising and errors tracking. Exactly these errors
                    irritate potential customers the most and eat away your advertising budget.
                </p>
                <p>
                    Read our article to learn why your advertising is NOT effective and how to minimize the number of ad
                    errors.
                </p>
                <img class="content-img" src="../assets/images/articles/insights-mistake4.jpg" alt="work environment"
                     aria-hidden="true">
            </article>
            <article class="article">
                <h2>How It Happens</h2>
                <p>
                    James wants to propose to his woman Mary. He searches for a suitable engagement ring in the
                    Internet. He finds one, clicks the link and a page opens with the following text: ‘Sorry, that page
                    doesn’t exist’. As a result, James thinks ‘this must be a bad omen’ and closes your site.
                </p>
                <div class="advantage-table">
                    <div class="advantage-table-row">
                        <div class="advantage-table-column advantage-table-header">
                            <p>Cause</p>
                        </div>
                        <div class="advantage-table-column">
                            <p>
                                Such errors are most often encountered when the ad contains a URL, which Google Ads sees
                                as valid, but the page content is no more available online.
                            </p>
                        </div>
                    </div>
                    <div class="advantage-table-row">
                        <div class="advantage-table-column advantage-table-header">
                            <p>Solution</p>
                        </div>
                        <div class="advantage-table-column">
                            <p>
                                We regularly check for the existence of pages. This process is automated. The check is
                                based on certain parameters given in advance. It factors in all the intricacies involved
                                in running advertising campaigns. This solution prevents ads leading to non-existent
                                pages from being displayed. Amid the large number of advertising campaigns existing and
                                challenges in creating ads, an automated check would help save your advertising budget.
                                From our experience, you will be able to save up to 5%, as well as n man-hours unlike,
                                for example, when you decide to deal with this problem manually via your SEM managers.
                            </p>
                        </div>
                    </div>
                </div>
                <img class="content-img" src="../assets/images/articles/insights-mistake3.jpg" alt="work environment"
                     aria-hidden="true">
            </article>
            <article class="article">
                <h2>How It Happens</h2>
                <p>
                    Mary is busy searching on Google on what to wear for a date. James has finally invited her for a date at a restaurant but she has nothing to wear. Finally she sees her dream dress on the internet, clicks on the ad, but ... the dress is no longer available. Annoyingly, Mary thinks “this date wasn’t meant to be” and stays at home, without a dress and without James.
                </p>
                <div class="advantage-table">
                    <div class="advantage-table-row">
                        <div class="advantage-table-column advantage-table-header">
                            <p>Cause</p>
                        </div>
                        <div class="advantage-table-column">
                            <p>
                                Such errors are typical in situations where an ad was launched, but the advertiser did not consider that the quantity of goods in stock is very small, thus the stock finished almost immediately after the ad was launched. Or the ad was launched, and the product was so popular that the entire stock was sold out in a matter of hours.
                            </p>
                        </div>
                    </div>
                    <div class="advantage-table-row">
                        <div class="advantage-table-column advantage-table-header">
                            <p>Solution</p>
                        </div>
                        <div class="advantage-table-column">
                            <p>
                                We can validate your stock level before you run your ad campaign. We implement this by connecting to your inventory system via API. We also constantly check your stock levels during the period of your advertising campaign and automatically close your ads once your stock level falls below the minimum mark or advertising in a certain region becomes impractical because the stock in the warehouse is not enough.
                                </p>
                            <p>You are the one to determine the criteria for advertising a particular product. However, our approach will categorically help you advertise only the product that is in stock and which really needs advertising.
                            </p>
                        </div>
                    </div>
                </div>
                <img class="content-img" src="../assets/images/articles/insights-mistake2.jpg" alt="phone in hands"
                     aria-hidden="true">
            </article>
            <article class="article">
                <h2>How It Happens</h2>
                <p>
                    James is not giving up yet. For the second time, he googles the ring. And by the way, he sees an ad offering a 50% discount for a cute ring of your brand. He clicks expecting to see the item at half price. But when the page opens, he sees that this ring is being offered at full cost without the advertised 50% discount. “This is definitely a bad omen”, - James thinks and closes your site. Forever.
                </p>
                <div class="advantage-table">
                    <div class="advantage-table-row">
                        <div class="advantage-table-column advantage-table-header">
                            <p>Cause</p>
                        </div>
                        <div class="advantage-table-column">
                            <p>
                                An error occurs when the ad is not checked on whether it is connected to the discount page.
                            </p>
                        </div>
                    </div>
                    <div class="advantage-table-row">
                        <div class="advantage-table-column advantage-table-header">
                            <p>Solution</p>
                        </div>
                        <div class="advantage-table-column">
                            <p>
                                Adcubex can test ad URL to see whether it has a link to the discount page on the site. Such add monitoring ensures 100% guarantee that the ad will lead to the relevant discount page, and that your potential customer will be satisfied with the discount provided.
                            </p>
                        </div>
                    </div>
                </div>
                <img class="content-img" src="../assets/images/articles/insights-mistake1.jpg" alt="analysis" aria-hidden="true">
                <p>
                    Our customers have reported that their advertising budget has suffered a 10% loss due to the above errors.<p>
                <p>
                Knowing the conversion rate and the average transaction cost, you can easily calculate how much your business has missed except the wasted advertising budget.</p>
                <p>
                    Sometimes, automating the simplest ad management operations carries significant benefits. It is not always possible to do this on ready-to-use pay-per-click platforms; here lie the great advantages of custom solutions for your business.
                    Would you like to know more about how we do it? Contact Adcubex
                </p>
            </article>
        </div>
    </section>
{% endblock %}

{% block contactItems %}
    {{ contactLinks() }}
{% endblock %}