body {
  margin: 0;
}

.header-container {
  position: fixed;
  z-index: 2;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 4rem 0 4rem;
  height: 10.125rem;
  width: 100%;

  background-color: transparent;
}

.logo-container {
  display: block;
  width: 1.7rem;
}

.logo-container > svg {
  fill: #ed1c24;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding: 0 25% 0 17%;
}

.menu-container > .link {
  font-weight: 700;
  font-size: 0.875rem;
}

.menu-container > .link--active {
  color: rgb(239, 62, 62);
}

.menu-container > .link:hover {
  color: rgb(239, 62, 62);
  cursor: pointer;
}

.button-container {
  display: flex;
}

.menu-button {
  width: 1.7rem;
  cursor: pointer;
}

.content {
  margin-top: 10.125rem;
}

.dynamic-section,
.advantage-section,
.expertise-section,
.investments-section,
.effectiveness-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60em;
}

.section-container {
  z-index: 1;
  width: 65em;
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.5s, transform 0.5s;
}

.section-container--active {
  opacity: 1;
  transform: translateX(0);
}

.section-container {
  color: #303030;
}

.expertise-section .section-container,
.investments-section .section-container,
.effectiveness-section .section-container {
  color: white;
}

.section-container > a {
  color: inherit;
}

.section-container > h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 6.5em;
  letter-spacing: 0;
  line-height: 115px;
  text-align: left;
  text-decoration: none;
  text-transform: none;
}

.section-container > p {
  line-height: 40px;
  font-size: 1.5em;
  font-style: normal;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.chat-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #303030;
    border-radius: 50%;
    margin: 0 45px 38px 0;
}

.chat-container > svg {
    top: 2px;
    width: 23px;
    height: 23px;
}

.dynamic-section {
  background-color: white;
}

.dynamic-section div h1 > span,
.advantage-section div h1 > span {
  color: #ef3e3e;
}

.images {
  position: fixed;
  right: 0;
  width: 518px;
}
.image {
  width: 100%;
}

.image {
  -webkit-animation: image-animation 1.5s infinite alternate;
  animation: image-animation 1.5s infinite alternate;
  pointer-events: all;
}
.image {
  -webkit-animation: image-animation 1.5s infinite alternate;
  animation: image-animation 1.5s infinite alternate;
  pointer-events: all;
}
@-webkit-keyframes image-animation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes image-animation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
