.cubes-container {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}

.cubes-container > .cubes-translate-container {
  transform: translate(1000px, -1000px);
}

.cubes-container > #main-cube {
  transform: translate(2000px, 0px);
}

#cubes .cube-translate-animation {
  will-change: transform, animation, color;
}

.cube-translate-animation {
  animation: cubes-animation 3s infinite alternate;
}

@keyframes cubes-animation {
  0% {
    transform: translateY(0);
  }
  35% {
    transform: translateY(-40px);
  }
  70% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(40px);
  }
}
