.cubes-container {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}

.cubes-container > .cubes-translate-container {
  transform: translate(1000px, -1000px);
}

#main-cube-scale-animation {
  transform-origin: 17% 45%;
}

.cubes-container > #main-cube {
  transform: translate(2000px, 0px);
}

#main-cube,
#main-cube-translate-animation,
#main-cube-scale-animation {
  transition: transform, fill 0.3s;
}

#main-cube,
#main-cube-translate-animation,
#main-cube-scale-animation,
.cube-translate-animation {
  will-change: transform, fill;
}

.cube-translate-animation {
  animation: cubes-animation 3s infinite alternate;
}

@keyframes cubes-animation {
  0% {
    transform: translateY(0);
  }
  35% {
    transform: translateY(-40px);
  }
  70% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(40px);
  }
}
