@import '../index.css';
@import './cubesAnimation.css';
@import './externalLinksHoverColor.css';
@import '../commonStyles/mailIcon.css';
@import '../commonStyles/headerAndFooter.css';
@import './onLoadContentAnimation.css';
@import '../swiper.min.css';
@import '../commonStyles/swiperCustomSryle.css';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'montserrat_extralightregular', sans-serif;
  background-color: rgba(236, 234, 234, 1);
}

.arrow {
  width: 1.4em;
  margin-left: 1.5em;
  fill: white;
}

.content-container {
  padding: 0 3.8125em;
}

.section-container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.section-container {
  position: relative;
  z-index: 1;
  margin-top: 6em;
  width: 100%;
  min-height: 100vh;
  color: var(--mine-shaft-light-color);
}

.section-container a {
  text-decoration: none;
}

.supervise-section.section-container {
  min-height: calc(100vh - 6.25em);
  padding-top: 6.25em;
}

.toolset-section.section-container {
  margin-top: 10.4em;
}

.budget-section {
  margin-bottom: 5em;
}

.vertical-inscription {
  top: 7em;
  right: -3.5em;
}

.budget-text-container > .inner-section-text,
.power-text-container > .inner-section-text {
  position: relative;
  width: 100%;
}

.budget-section .vertical-inscription span,
.power-section .vertical-inscription span {
  color: white;
}

.budget-section > h2,
.control-section > h2,
.power-section > h2 {
  color: white;
}

.section-container .letter-parallax {
  position: absolute;
  top: 0;
  left: -8.75em;
  z-index: -1;
  will-change: transform;
  transition: 0.2s transform;
}

.control-section {
  margin-top: 0;
}

.power-section {
  margin-top: 3em;
}

.section-container > * {
  opacity: 0;
  transition: opacity 0.8s ease-in-out 0.2s;
}

.section-container--active > * {
  opacity: 1;
}

.section-container > h1,
.section-container > h2 {
  opacity: 1;
  height: 3.5em;
  letter-spacing: 0.02em;
  line-height: 10;
}

.expertise-section > h2,
.toolset-section > h2,
.budget-section > h2,
.control-section > h2,
.power-section > h2 {
  height: 2.5em;
}

.section-container--active h1,
.section-container--active h2 {
  line-height: 1.12;
}

.text-container {
  position: relative;
  display: flex;
  margin-top: -0.5em;
}

.supervise-section > .text-container {
  margin-top: 0.2em;
}

.inner-section-image {
  position: absolute;
  z-index: -1;
  top: 10em;
  left: 0;
  display: none;
  width: 20em;
  height: 20em;
  user-select: none;
  pointer-events: none;
}

.inner-section-image > img {
  width: 20em;
  height: 20em;
}

.inner-section-text {
  max-width: 36.85em;
}

.inner-section-text p {
  font-size: 1.75em;
  font-weight: 600;
  line-height: 1.6;
}

.inner-section-text .inner-section-sub-header {
  font-family: montserrat_mediumregular, sans-serif;
  font-size: 2.25em;
  font-weight: 600;
  line-height: 1.65;
}

.inner-section-text > p + p {
  margin-top: 1.5em;
}

.inner-section-text > button {
  margin-top: 5.4em;
}

/*
 *** Styled button ***
 */
.custom-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 23.625em;
  height: 5em;
  padding: 0 2em 0 1.5em;
  border: none;
  margin-top: 7em;
  background-color: var(--flamingo-color);
  color: white;
  cursor: pointer;
  transition: all 0.4s ease-in;
}

.custom-button > * {
  font-family: montserrat_lightregular, sans-serif;
  font-size: 1.75em;
  font-weight: 600;
}

.custom-button.custom-button--small-text span {
  font-size: 1.5em;
}

.custom-button.custom-button--big-text span {
  font-size: 2.25em;
}

.external-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 14em;
}

.toolset-section > .external-links {
  margin-top: 12.7em;
}

.button-image {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease-in;
}

.custom-button:hover {
  background-color: var(--red-orange-color);
}

.custom-button:hover .button-image {
  transform: translateX(0.25em);
}

.expertise-section .external-links {
  align-items: baseline;
}

.advantage-section {
  margin-top: -1.4em;
}

.supervise-section .text-container,
.expertise-section .text-container,
.toolset-section .text-container,
.advantage-section .text-container,
.power-section .text-container,
.improvement-section .text-container {
  width: 100%;
  padding-left: 16.56em;
}

.budget-text-container,
.power-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: white;
}

.control-section .inner-section-text {
  color: white;
}

.budget-section > .budget-text-container {
  margin-top: -0.3em;
}

.budget-section .vertical-inscription {
  top: -30.5em;
}

.power-section .vertical-inscription {
  top: -46.2em;
}

.power-image-container a {
  margin-top: 7.4em;
}

.power-image-container .custom-button > .button-image {
  margin-right: 0.2em;
}

.custom-button-arrow {
  transition: fill 0.4s ease-in;
}

.budget-image,
.power-image {
  display: flex;
  justify-content: flex-start;
  padding: 5em;
  margin: 0 0 0 auto;
  max-width: calc(100% - 16.56em);
  width: 100%;
  background-image: url('../../assets/images/sloping_stripes.svg');
  background-size: cover;
}

.budget-image {
  margin-top: 12.8em;
}

.image-content-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image-content-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-left: 2.75em;
}

.image-content-section p {
  margin: 0;
}

.image-content--middle {
  height: 100%;
  font-family: 'montserrat_mediumregular', sans-serif;
  font-size: 2.25em;
  font-weight: 600;
  line-height: 1.16;
}

.image-content--small {
  font-size: 1em;
  font-weight: 600;
  line-height: 1.9;
}

.image-content--large {
  height: 0.91em;
  font-family: 'montserratbold', sans-serif;
  font-size: 5.625em;
  font-weight: 600;
  line-height: 1;
}

.control-text-container,
.power-text-container {
  margin-top: -0.5em;
}

.power-text-container > .inner-section-text > a {
  top: 6.2em;
  right: -4.5em;
}

.power-image-container {
  width: 100%;
  padding-top: 6.2em;
  margin: 0 0 0 auto;
}

.power-image .image-content--large {
  height: 0.55em;
  font-size: 7em;
  line-height: 0.5;
}

.toolset-text-container > .text-container > .inner-section-text {
  margin-top: -7em;
}

.toolset-section div > p,
.improvement-section div > p {
  color: var(--tundora-color);
}

footer {
  margin-top: 3em;
}

.footer-left > a,
.footer-right > a {
  color: var(--coal-grey-color);
}

.supervise-section h1 > span,
.advantage-section h2 > span,
.expertise-section h2 > span {
  color: var(--flamingo-color);
}

@media all and (max-width: 1400px) {
  .section-container {
    width: 100%;
  }

  .section-container {
    margin-top: 0;
  }

  .section-container.toolset-section {
    margin-top: 5em;
  }

  .budget-section,
  .improvement-section {
    margin-bottom: 0;
  }

  .budget-section .vertical-inscription {
    top: -20em;
  }

  .power-section .vertical-inscription {
    top: -25em;
  }

  .inner-section-text > p + p {
    margin-top: 1.1em;
  }
}

@media (min-width: 768px) {
  .letter-parallax {
    width: 50em;
    height: 45em;
  }
}

@media (max-width: 1200px) {
  .budget-image,
  .power-image {
    max-width: 56.56em;
  }
}

@media all and (max-width: 1024px) {
  .cubes-container {
    width: 155%;
    height: 114%;
    top: -1.75em;
    right: -11.5em;
  }

  .external-links,
  .toolset-section > .external-links {
    margin-top: 6em;
  }

  .section-container {
    min-height: 71.5vh;
  }

  .section-container .letter-parallax {
    left: -3.8em;
  }
}

@media all and (max-width: 960px) {
  .supervise-section h1,
  .supervise-section h2 {
    height: 4.2em;
  }
}

@media all and (max-width: 768px) {
  .content-container {
    padding: 0 1.75em;
  }

  .section-container {
    min-height: 80vh;
  }

  footer {
    margin-top: 3em;
  }

  .section-container h1,
  .section-container h2 {
    font-size: 4em;
  }

  .vertical-inscription-container {
    display: none;
  }

  .improvement-section .inner-section-image {
    top: -27em;
  }

  .budget-image,
  .power-image-container,
  .power-image {
    max-width: 100%;
  }

  .budget-image,
  .power-image {
    padding: 4em;
  }
}

@media (max-width: 576px) {
  .budget-image,
  .power-image {
    padding: 2em;
  }

  .budget-image,
  .power-image {
    flex-direction: column;
    align-items: flex-start;
  }

  .image-content--middle br {
    display: none;
  }

  .image-content--middle {
    font-size: 2em;
  }

  .image-content-description {
    align-items: flex-end;
    justify-content: space-around;
    width: 100%;
  }

  .image-content-description .image-content-section {
    margin-left: 0;
    margin-right: 1em;
  }

  .power-image .image-content--large {
    text-align: center;
  }
}

@media (max-width: 540px) {
  .advantage-section .text-container,
  .expertise-section .text-container,
  .improvement-section .text-container,
  .supervise-section .text-container,
  .power-section .text-container,
  .toolset-section .text-container {
    padding: 0;
  }
}

@media all and (max-width: 480px) {
  .section-container h1,
  .section-container h2 {
    font-size: 2.75em;
  }

  .budget-section div br,
  .control-section div br {
    display: none;
  }
}

@media (max-width: 320px) {
  .cubes-container {
    right: -5.5em;
  }
}
