@import '../normalize.css';
@import './cubesAnimation.css';
@import './externalLinksHoverColor.css';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'montserrat_lightregular', sans-serif;
}

h1,
h2 {
  font-family: 'montserrat_extraboldregular', sans-serif;
}

.arrow {
  width: 1.4em;
  margin-left: 1.5em;
  fill: white;
}

.header-container {
  position: fixed;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 4em 0 4em;
  height: 10.125em;
  width: 100%;
  background-color: transparent;
}

.header-container .logo,
.header-container .toggle-menu-button {
  z-index: 3;
}

.header-navigation {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  opacity: 0;
  overflow: hidden;
  width: 100vw;
  height: 0;
  background-color: #ec3865;
  transition-property: background-color, height, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  will-change: opacity, background-color, height;
}

.header-navigation--active {
  opacity: 1;
  height: 100vh;
}

.header-navigation-bg-image {
  position: absolute;
  z-index: -1;
  top: 0;
  right: -320px;
  opacity: 0.3;
  height: 100%;
}

.logo--active tspan {
  fill: white !important;
}

.header-navigation--blue {
  background-color: #3655f4;
}

.header-navigation--red {
  background-color: #fc4848;
}

.header-navigation--purple {
  background-color: #9b2edf;
}

.header-navigation--dark-purple {
  background-color: #6c3ce6;
}

.header-navigation-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 4em 0 4em;
  margin-top: 15em;
}

.header-links-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.header-links-container a,
.header-links-container p {
  font-family: 'montserratbold', sans-serif;
}

.header-links-container a {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: white;
  font-size: 5.75em;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
}

.header-links-container a > img {
  margin-left: 0.7em;
}

.header-links-container a:hover {
  color: #252525;
}

.header-links-container a + a {
  margin-top: 0.2em;
}

.header-navigation-footer-text {
  margin-bottom: 3em;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1em;
  line-height: 1.5;
}

.header-navigation-footer-text a {
  color: white;
  font-style: italic;
  text-decoration: none;
}

.header-link-arrow-icon {
  display: none;
}

.header-link-arrow-icon--active {
  display: block;
}

.toggle-menu-button {
  padding: 0;
  margin: 0;
  cursor: pointer;
  border: none;
  background: none;
}

.toggle-menu-button:focus {
  outline: 1px dotted rgb(197, 197, 197);
}

.header-open-menu-icon,
.header-close-menu-icon {
  display: none;
}

.header-open-menu-icon--active,
.header-close-menu-icon--active {
  display: block;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 72.188em;
  margin: 0 auto;
  color: #353535;
}

.supervise-section,
.expertise-section,
.toolset-section,
.advantage-section,
.budget-section,
.control-section,
.power-section,
.improvement-section {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.section-container {
  position: static;
  z-index: 1;
  margin-top: 8em;
  width: 100%;
  min-height: 100vh;
  color: #303030;
}

.supervise-section.section-container {
  margin-top: 8em;
}

.toolset-section.section-container {
  margin-top: 10.4em;
}

.budget-section {
  margin-bottom: 5em;
}

.vertical-inscription {
  position: absolute;
  top: 7em;
  right: -6em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  transform: rotate(90deg);
  cursor: pointer;
  text-decoration: none;
}

.vertical-inscription-img-container {
  margin-right: 3.25em;
  transform: rotate(-90deg);
}

.vertical-inscription img {
  -o-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
  cursor: pointer;
}

.vertical-inscription:hover img {
  -o-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
}

.vertical-inscription > span {
  display: flex;
  align-items: center;
  color: #353535;
  font-family: 'montserrat_mediumregular', sans-serif;
  font-size: 2rem;
  font-weight: 600;
}

.budget-text-container > .inner-section-text,
.power-text-container > .inner-section-text {
  position: relative;
  width: 100%;
}

.budget-text-container > .inner-section-text > .vertical-inscription {
  top: 4.5em;
}

.budget-text-container > .inner-section-text > .vertical-inscription > span,
.power-text-container > .inner-section-text > .vertical-inscription > span {
  color: #fff;
}

.budget-section > h2,
.control-section > h2,
.power-section > h2 {
  color: white;
}

.budget-section > svg,
.control-section > svg,
.power-section > svg {
  position: absolute;
  z-index: -1;
  left: 0;
  display: none;
}

.expertise-section .inner-section-text > p > span,
.power-section div > p > span {
  font-family: montserrat_mediumregular, sans-serif;
  font-size: 2.188rem;
  font-weight: 600;
}

.section-container > h1,
.section-container > h2 {
  margin-top: 1em;
  font-family: 'montserrat_mediumregular', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 5.3em;
  letter-spacing: 0.02em;
  line-height: 1.12em;
  text-align: left;
  text-decoration: none;
  text-transform: none;
}

.text-container {
  position: relative;
  display: flex;
  margin-top: -0.5em;
}

.supervise-section > .text-container {
  margin-top: 0.2em;
}

.inner-section-image {
  position: absolute;
  z-index: -1;
  top: 30em;
  display: none;
  width: 20em;
  height: 20em;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.inner-section-image > img {
  width: 20em;
  height: 20em;
}

.inner-section-text {
  font-family: 'montserrat_lightregular', sans-serif;
  font-size: 1.75em;
  font-weight: 600;
  line-height: 1.6em;
}

.inner-section-text > p + p{
  margin-top: 1.5em;
}

.inner-section-text > button {
  margin-top: 5.4em;
}

.supervise-section .inner-section-text,
.expertise-section .inner-section-text,
.toolset-section .inner-section-text,
.advantage-section .inner-section-text,
.improvement-section .inner-section-text {
  margin-left: 9.3em;
}

.custom-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 23.625rem;
  height: 5rem;
  padding: 0 1em 0 1.5em;
  border: none;
  margin-top: 7em;
  background-color: #ef3e3e;
  color: #fff;
  font-family: montserrat_lightregular, sans-serif;
  font-size: 0.71em;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
}

.external-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 14em;
}

.toolset-section > .external-links {
  margin-top: 12.7em;
}

.button-image {
  transition: transform 0.3s ease-in;
}

.custom-button:hover {
  background-color: #fd311e;
}

.custom-button:hover .button-image {
  transform: translateX(0.25em);
}

.expertise-section .external-links {
  align-items: baseline;
}

.advantage-section {
  margin-top: 17em;
}

.supervise-section > .text-container > .inner-section-text,
.advantage-section > .text-container > .inner-section-text {
  position: relative;
  display: flex;
  width: 100%;
}

.budget-text-container,
.control-text-container,
.power-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: #ffffff;
}

.control-section > .control-text-container > .control-text > p {
  width: 18.375em;
  font-size: 1.75em;
  font-weight: 600;
  line-height: 1.6em;
}

.control-text {
  width: 100%;
}

.power-image-container {
  margin: 8.75em 0 0 16.25em;
}

.power-image-container > button {
  margin-top: 4.6em;
  border: 0.01em solid white;
  background-color: transparent;
  font-size: 1.2em;
  transition-property: color, background-color;
  transition-duration: 0.4s;
  transition-timing-function: ease-in;
}

.power-image-container > .custom-button > .button-image {
  margin-right: 1.2em;
}

#but_arrow {
  transition: fill 0.4s ease-in;
}

.power-image-container > .custom-button:hover #but_arrow {
  fill: #353535;
}

.power-image-container > .custom-button:hover {
  color: #353535;
  background-color: #ffffff;
}

.budget-image,
.power-image {
  display: flex;
  justify-content: center;
  padding: 5em 0;
  min-width: 56.3125em;
  height: 7em;
  background-image: url(../../assets/images/rectangle2.svg);
}

.budget-image {
  margin: 10rem 0 0 16.25rem;
}

.improvement-section > .text-container > .inner-section-text > .custom-button {
  font-family: 'montserrat_mediumregular', sans-serif;
  font-size: 1em;
}

.image-content-section {
  margin-left: 3.75em;
}

.image-content_middle {
  height: 100%;
  font-family: 'montserratbold', sans-serif;
  font-size: 2.25rem;
  line-height: 2.625rem;
}

.image-content_small {
  margin-top: 0.938rem;
  line-height: 1.1875rem;
}

.image-content_large {
  margin: 3rem 0;
  font-family: 'montserratbold', sans-serif;
  font-size: 4.5rem;
  line-height: 0;
}

.power-image > .image-content-section > .image-content_large {
  margin: 3rem 0;
  font-family: montserratbold, sans-serif;
  font-size: 6.5rem;
  font-weight: 600;
  line-height: 0;
}

div.power-image > .image-content > p.image-content_large {
  margin-top: 2rem;
  font-family: 'montserrat_extraboldregular', sans-serif;
  font-size: 5rem;
  font-weight: 900;
}

.toolset-text-container > .text-container > .inner-section-text {
  margin-top: -7em;
}

.toolset-section div > p,
.improvement-section div > p {
  color: #484848;
}

.mailIcon-container {
  position: fixed;
  right: 0;
  bottom: 1.25em;
  z-index: 2;
  margin-right: 4em;
  border: none;
  background: none;
  cursor: pointer;
}

.mailIcon-container:focus {
  outline: 1px dotted rgb(197, 197, 197);
}

.mailIcon-background {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 3.25em;
  background-color: transparent;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  will-change: width, overflow;
  cursor: pointer;
}

.mailIcon-background:hover {
  width: 11em;
  overflow: visible;
}
.mailIcon-background:hover .start-el,
.mailIcon-background:hover .mid-el,
.mailIcon-background:hover .mail-el {
  background-color: #fd311e;
}

.mailIcon-background:hover .mid-el {
  width: 7.7em;
}

.start-el {
  width: 3.25em;
  height: 3.25em;
  margin-right: -1.8em;
  border-radius: 50%;
  background-color: #353535;
  transition: background-color 0.3s ease-in;
}

.mid-el {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 0;
  color: #ffffff;
  background-color: #353535;
  transition-property: background-color, width;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}

.mid-el > span {
  white-space: nowrap;
}

.mail-el {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.25em;
  height: 3.25em;
  margin-left: -1.5em;
  border-radius: 50%;
  background-color: #353535;
  transition: background-color 0.3s ease-in;
}

footer {
  display: flex;
  justify-content: center;
  margin: 16.25rem 0 2.5rem 0;
  color: #ababab;
  font-size: 0.875rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 68.625rem;
}

.footer-container:first-child {
  flex-grow: 1;
}

.footer-right {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.footer-left {
  font-style: normal;
}

.footer-left > p > sup {
  color: red;
}

.footer-left > p > span {
  color: black;
}

.footer-left > a,
.footer-right > a {
  color: #ababab;
  text-decoration: none;
}

.footer-right > a {
  padding: 0 0.8em;
}

.supervise-section h1 > span,
.advantage-section h2 > span,
.expertise-section h2 > span {
  color: #ef3e3e;
}
