@import '../index.css';
@import './cubesAnimation.css';
@import './externalLinksHoverColor.css';
@import '../commonStyles/mailIcon.css';
@import '../commonStyles/headerAndFooter.css';
@import './onLoadContentAnimation.css';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'montserrat_extralightregular', sans-serif;
}

h1,
h2 {
  font-family: 'montserrat_extraboldregular', sans-serif;
}

.arrow {
  width: 1.4em;
  margin-left: 1.5em;
  fill: white;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 72.188em;
  margin: 0 auto;
  color: #353535;
}

.supervise-section,
.expertise-section,
.toolset-section,
.advantage-section,
.budget-section,
.control-section,
.power-section,
.improvement-section {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.section-container {
  position: static;
  z-index: 1;
  margin-top: 8em;
  width: 100%;
  min-height: 100vh;
  color: var(--mine-shaft-light-color);
}

.supervise-section.section-container {
  margin-top: 8em;
}

.toolset-section.section-container {
  margin-top: 10.4em;
}

.budget-section {
  margin-bottom: 5em;
}

.vertical-inscription-container {
  position: relative;
}

.vertical-inscription {
  position: absolute;
  top: 0;
  right: -1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  cursor: pointer;
  text-decoration: none;
}

.vertical-inscription-img-container {
  margin-right: 3.25em;
  transform: rotate(-90deg);
}

.vertical-inscription img {
  -o-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
  cursor: pointer;
}

.vertical-inscription:hover img {
  -o-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
}

.vertical-inscription > span {
  display: flex;
  align-items: center;
  color: var(--mine-shaft-lighter-color);
  font-family: 'montserrat_mediumregular', sans-serif;
  font-size: 2rem;
  font-weight: 600;
}

.budget-text-container > .inner-section-text,
.power-text-container > .inner-section-text {
  position: relative;
  width: 100%;
}

.budget-text-container > .inner-section-text > .vertical-inscription > span,
.power-text-container > .inner-section-text > .vertical-inscription > span {
  color: white;
}

.budget-section > h2,
.control-section > h2,
.power-section > h2 {
  color: white;
}

.budget-section > svg,
.control-section > svg,
.power-section > svg {
  position: absolute;
  z-index: -1;
  left: -14.25em;
  display: none;
}

.power-section > svg {
  left: -12.25em;
}

.expertise-section .inner-section-text > p > span,
.power-section div > p > span {
  font-family: montserrat_mediumregular, sans-serif;
  font-size: 2.188rem;
  font-weight: 600;
}

.section-container > * {
  opacity: 0;
  transition: opacity 0.8s ease-in-out 0.2s;
}

.section-container--active > * {
  opacity: 1;
}

.section-container > h1,
.section-container > h2 {
  opacity: 1;
  height: 3.5em;
  margin-top: 1em;
  font-family: 'montserrat_mediumregular', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 5.3em;
  letter-spacing: 0.02em;
  line-height: 10em;
  overflow: hidden;
  transition: line-height 0.5s ease-in-out;
  text-align: left;
  text-decoration: none;
  text-transform: none;
}

.expertise-section > h2,
.toolset-section > h2,
.budget-section > h2,
.control-section > h2,
.power-section > h2 {
  height: 2.5em;
}

.section-container--active > h1,
.section-container--active > h2 {
  line-height: 1.12em;
}

.text-container {
  position: relative;
  display: flex;
  margin-top: -0.5em;
}

.supervise-section > .text-container {
  margin-top: 0.2em;
}

.inner-section-image {
  position: absolute;
  z-index: -1;
  top: 10em;
  display: none;
  width: 20em;
  height: 20em;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.inner-section-image > img {
  width: 20em;
  height: 20em;
}

.inner-section-text {
  font-family: 'montserrat_extralightregular', sans-serif;
  font-size: 1.75em;
  font-weight: 600;
  line-height: 1.6em;
}

.inner-section-text > p + p {
  margin-top: 1.5em;
}

.inner-section-text > button {
  margin-top: 5.4em;
}

.supervise-section .inner-section-text,
.expertise-section .inner-section-text,
.toolset-section .inner-section-text,
.advantage-section .inner-section-text,
.improvement-section .inner-section-text {
  margin-left: 9.3em;
}

.custom-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 23.625rem;
  height: 5rem;
  padding: 0 1em 0 1.5em;
  border: none;
  margin-top: 7em;
  background-color: var(--flamingo-color);
  color: white;
  font-family: montserrat_lightregular, sans-serif;
  font-size: 0.71em;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
}

.external-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 14em;
}

.toolset-section > .external-links {
  margin-top: 12.7em;
}

.button-image {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease-in;
}

.custom-button:hover {
  background-color: var(--red-orange-color);
}

.custom-button:hover .button-image {
  transform: translateX(0.25em);
}

.expertise-section .external-links {
  align-items: baseline;
}

.advantage-section {
  margin-top: -1.4em;
}

.supervise-section > .text-container > .inner-section-text,
.advantage-section > .text-container > .inner-section-text {
  position: relative;
  display: flex;
  width: 100%;
}

.budget-text-container,
.power-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: white;
}

.control-section .inner-section-text {
  color: white;
}

.budget-section > .budget-text-container {
  margin-top: -0.3em;
}

.budget-section .vertical-inscription {
  top: 3.6em;
}

.b-parallax {
  max-width: 94em;
}

.power-image-container {
  margin: 6.2em 0 0 16.25em;
}

.power-image-container > button {
  margin-top: 7.4em;
  border: 0.01em solid white;
  background-color: transparent;
  font-size: 1.2em;
  transition-property: color, background-color;
  transition-duration: 0.4s;
  transition-timing-function: ease-in;
}

.power-image-container > .custom-button > .button-image {
  margin-right: 1.2em;
}

#but_arrow {
  transition: fill 0.4s ease-in;
}

.power-image-container > .custom-button:hover #but_arrow {
  fill: #353535;
}

.power-image-container > .custom-button:hover {
  color: #353535;
  background-color: white;
}

.budget-image,
.power-image {
  display: flex;
  justify-content: center;
  padding: 5em 0;
  min-width: 56.3125em;
  height: 7em;
  background-image: url(../../assets/images/rectangle2.svg);
}

.budget-image {
  margin: 12.8rem 0 0 15.8rem;
}

.improvement-section {
  margin-bottom: -9em;
}

.improvement-section .inner-section-text .custom-button {
  display: flex;
  justify-content: space-between;
  margin-top: 3.1em;
  padding: 0 1em 0 1em;
  font-family: 'montserrat_mediumregular', sans-serif;
  font-size: 1.2em;
}

.image-content-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 3.75em;
}

.image-content_middle {
  height: 100%;
  font-family: 'montserrat_mediumregular', sans-serif;
  font-size: 2.25rem;
  line-height: 2.625rem;
}

.image-content_small {
  margin-top: 0.938rem;
  line-height: 1.1875rem;
  font-size: 1rem;
}

.image-content_large {
  margin: 3rem 0;
  font-family: 'montserratbold', sans-serif;
  font-size: 4.5rem;
  line-height: 0;
}

.power-image {
  min-width: 51.2em;
  height: 5.3em;
  margin-left: 5.7em;
}

.control-text-container,
.power-text-container {
  margin-top: -0.5em;
}

.power-text-container > .inner-section-text > a {
  top: 6.2em;
  right: -4.5em;
}

.power-image > .image-content-section > .image-content_large {
  margin: 3rem 0;
  font-family: montserratbold, sans-serif;
  font-size: 6.5rem;
  font-weight: 600;
  line-height: 0;
}

div.power-image > .image-content-section > p.image-content_large {
  margin-top: 2rem;
  font-family: 'montserrat_extraboldregular', sans-serif;
  font-size: 8rem;
  font-weight: 900;
}

.toolset-text-container > .text-container > .inner-section-text {
  margin-top: -7em;
}

.toolset-section div > p,
.improvement-section div > p {
  color: var(--tundora-color);
}

footer {
  color: var(--silver-chalice-color);
}

.footer-left > a,
.footer-right > a {
  color: var(--silver-chalice-color);
}

.supervise-section h1 > span,
.advantage-section h2 > span,
.expertise-section h2 > span {
  color: var(--flamingo-color);
}

@media all and (max-width: 1366px) {
  .content-container {
    width: 52.188em;
  }

  .section-container,
  .supervise-section.section-container {
    margin-top: 0;
  }

  .section-container.toolset-section {
    margin-top: 5em;
  }

  .budget-section,
  .improvement-section {
    margin-bottom: 0;
  }

  .vertical-inscription > span {
    font-size: 1.7rem;
  }

  .budget-section .vertical-inscription {
    top: -20em;
  }

  .power-section .vertical-inscription {
    top: -25rem;
  }

  .section-container > svg {
    max-height: 150vh;
  }

  .budget-section > svg {
    left: -20em;
  }

  .control-section > svg {
    left: -29em;
  }

  .power-section > svg {
    left: -25em;
  }

  .external-links,
  .toolset-section > .external-links {
    font-size: 14px;
    margin-top: 9em;
  }

  .custom-button {
    width: 20rem;
    height: 4rem;
  }

  .expertise-section .inner-section-text .custom-button {
    margin-top: 0.4em;
  }

  .improvement-section .inner-section-text .custom-button {
    margin-top: 2em;
  }

  .inner-section-text > p + p {
    margin-top: 1.1em;
  }

  .section-container > h1,
  .section-container > h2 {
    font-size: 3.5em;
  }

  .budget-image,
  .power-image {
    height: auto;
    font-size: 0.7em;
    padding: 4em 2em;
  }

  .power-image {
    min-width: 56.3125em;
    margin-left: 0;
  }

  .budget-image,
  .power-image-container {
    margin: 0 0 0 10.3rem;
  }

  .power-image-container > button {
    margin-top: 1.4em;
  }

  .image-content_large {
    margin: 2rem 0;
    font-size: 3.5rem;
  }

  .inner-section-text {
    font-size: 1.55em;
    line-height: 1.4em;
  }

  footer {
    margin: 1rem 0 2.5rem 0;
  }
}
