<!--layout of inner page -->
<!DOCTYPE html>
<html lang="en">
    {% block head %} {% endblock %}
    <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N4GBPQ9"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
        {% include "parts/header-inner.html" %}
        {% include "parts/navigation.html" %}
        {% include "parts/cube_bkgr-inner.html" %}
        <div class="content-container" role="main">
            {% block content %} {% endblock %}
            {% block contactItems %} {% endblock %}
        </div>
        {% include "parts/footer.html" %}
    </body>
</html>