@import '../index.css';
@import '../commonStyles/innerPageStyle.css';
@import '../commonStyles/onLoadInnerAnimation.css';
@import '../commonStyles/ÑubesAnimation.css';

.cube-animation :nth-child(1) {
  fill: var(--cube-left-side-dark-blue-color);
}

.cube-animation :nth-child(2) {
  fill: var(--cube-right-side-dark-blue-color);
}

.cube-animation :nth-child(3) {
  fill: var(--cube-bottom-side-dark-blue-color);
}

.content-section {
  display: flex;
}

.contact-us-container {
  position: relative;
  display: flex;
}

.contact-us-container div[role='progressbar'] {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: var(--progressbar-bg-color);
  color: white;
  font-size: 2em;
}

.contact-us-form {
  max-width: 47.875em;
  width: 100%;
}

.contact-us-form * {
  box-sizing: border-box;
}

.contact-us-form > p {
  font-size: 1.625em;
  line-height: 1.5em;
}

.contact-us-form > input,
.contact-us-form > textarea {
  width: 100%;
}

.contacts-inputs {
  display: flex;
  justify-content: space-between;
}

.contacts-inputs > input {
  width: calc(50% - 1.25em);
}

.contact-us-form input {
  height: 3.5em;
}

.contact-us-form input,
.contact-us-form textarea {
  margin-bottom: 1.8em;
  padding: 0 1.25em 0 1.25em;
  border: 1px solid var(--nobel-color);
  color: var(--mine-shaft-lighter-color);
  font-family: 'montserrat_lightregular', sans-serif;
  font-weight: 600;
  font-size: 1.35em;
}

.contact-us-form textarea {
  height: 5.8em;
  padding-top: 1.5em;
  resize: none;
}

.contact-us-form input:focus,
.contact-us-form textarea:focus {
  border-color: #353535;
}

::-webkit-input-placeholder {
  color: var(--nobel-color);
}
::-moz-placeholder {
  color: var(--nobel-color);
}
:-ms-input-placeholder {
  color: var(--nobel-color);
}
:-moz-placeholder {
  color: var(--nobel-color);
}

.contact-checkbox {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1em;
}

.contact-us-form input[type='checkbox']:not(:checked),
.contact-us-form input[type='checkbox']:checked {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.fake-checkbox {
  width: 1em;
  height: 1em;
  border: 0.125em solid var(--mine-shaft-lighter-color);
}

.fake-checkbox_unchecked {
  background: white;
}

.fake-checkbox_checked {
  background: var(--mine-shaft-lighter-color);
}

.contact-checkbox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
}

.img_hide {
  display: none;
}

.img_show {
  display: block;
}

.contact-us-form label {
  margin-left: 1em;
  color: var(--coal-grey-color);
  font-size: 0.75em;
  line-height: 1.5em;
}

.checkbox-wrapper {
  position: relative;
}

.checkbox-wrapper,
.contact-us-form label {
  cursor: pointer;
}

.contact-us-form .custom-button {
  border: none;
  background-color: var(--flamingo-color);
  font-weight: 500;
  font-size: 1.5em;
  transition: background-color 0.3s ease-in;
}

.contact-us-form .button-image {
  margin-right: 1em;
  transition: transform 0.3s ease-in;
}

.contact-us-form .custom-button:hover {
  color: white;
  background-color: var(--red-orange-color);
}

.contact-us-form .custom-button:hover .button-image {
  transform: translateX(0.3em);
}

.header-container.header-container--visible,
.header-container.header-container--hide {
  background-color: var(--cube-left-side-dark-blue-color);
}

.header-container.header-container--top-position {
  animation: show-header-background 0.6s ease-out, show-header-animation 0.5s ease-out;
}

.header-container.header-container--hide {
  background-color: var(--cube-left-side-dark-blue-color);
  animation: hide-header-animation 0.5s ease-out;
}

@keyframes show-header-animation {
  0% {
    top: -9em;
  }
  100% {
    top: 0;
  }
}

@keyframes hide-header-animation {
  0% {
    top: 0;
  }
  100% {
    top: -9em;
  }
}

@keyframes show-header-background {
  0% {
    background-color: var(--cube-left-side-dark-blue-color);
  }
  100% {
    background-color: transparent;
  }
}

@media all and (max-width: 1400px) {
  .contact-us-form input,
  .contact-us-form textarea {
    font-size: 1em;
  }

  .contact-us-container svg {
    width: auto;
    max-height: 42em;
  }
}

@media all and (max-width: 768px) {
  body {
    background-color: var(--cube-left-side-dark-blue-color);
  }

  .contact-us-form {
    max-width: 100%;
  }

  .contact-us-form input,
  .contact-us-form textarea {
    margin-bottom: 1em;
  }

  .contacts-inputs > input {
    width: calc(50% - 0.5em);
  }
}

@media all and (max-width: 414px) {
  .contacts-inputs {
    flex-direction: column;
  }

  .contacts-inputs > input {
    width: 100%;
  }

  .contact-us-form .custom-button {
    font-size: 1.25em;
  }
}
