@import '../index.css';
@import '../commonStyles/innerPageStyle.css';
@import '../commonStyles/onLoadInnerAnimation.css';
@import '../commonStyles/ÑubesAnimation.css';

.cube-animation :nth-child(1) {
  fill: var(--cube-left-side-dark-blue-color);
}

.cube-animation :nth-child(2) {
  fill: var(--cube-right-side-dark-blue-color);
}

.cube-animation :nth-child(3) {
  fill: var(--cube-bottom-side-dark-blue-color);
}

.content-section {
  display: flex;
}

.contact-us-container {
  width: 47.875em;
  margin: 4.75em 0 0 4em;
}

.contact-us-container > p {
  font-size: 1.625em;
  line-height: 1.5em;
}

.contact-us-container > input,
.contact-us-container > textarea {
  width: 93%;
}

.contacts-inputs {
  display: flex;
  justify-content: space-between;
}

.contacts-inputs > input {
  width: 14.25em;
}

input {
  height: 3.5em;
}

input,
textarea {
  margin-bottom: 1.8em;
  padding: 0 1.25em 0 1.25em;
  border: 1px solid var(--nobel-color);
  color: var(--mine-shaft-lighter-color);
  font-family: 'montserrat_lightregular', sans-serif;
  font-weight: 600;
  font-size: 1.35em;
  outline: none;
}

textarea {
  height: 5.8em;
  padding-top: 1.5em;
  resize: none;
}

input:focus,
textarea:focus {
  border-color: #353535;
}

::-webkit-input-placeholder {
  color: var(--nobel-color);
}
::-moz-placeholder {
  color: var(--nobel-color);
}
:-ms-input-placeholder {
  color: var(--nobel-color);
}
:-moz-placeholder {
  color: var(--nobel-color);
}

.contact-checkbox {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1em;
}

input[type='checkbox']:not(:checked),
input[type='checkbox']:checked {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.fake-checkbox {
  width: 1em;
  height: 1em;
  border: 0.125em solid var(--mine-shaft-lighter-color);
}

.fake-checkbox_unchecked {
  background: white;
}

.fake-checkbox_checked {
  background: var(--mine-shaft-lighter-color);
}

.contact-checkbox > div > img {
  position: absolute;
  top: 0.58em;
  left: 0.15em;
  width: 1em;
}

.img_hide {
  display: none;
}

.img_show {
  display: block;
}

label {
  margin-left: 1em;
  color: var(--silver-chalice-color);
  font-size: 0.75em;
  line-height: 1.5em;
}

.checkbox-wrapper,
label {
  cursor: pointer;
}

.custom-button {
  display: flex;
  justify-content: space-between;
  margin-left: 0;
  padding: 0 0.8em 0 1.42em;
  border: none;
  background-color: var(--flamingo-color);
  font-weight: 500;
  font-size: 1.5em;
  transition: background-color 0.3s ease-in;
}

.button-image {
  margin-right: 1em;
  transition: transform 0.3s ease-in;
}

.custom-button:hover {
  color: white;
  background-color: var(--red-orange-color);
}

.custom-button:hover .button-image {
  transform: translateX(0.3em);
}
