.clutch-color,
.tm-color,
.goodFirms-color,
.topDevs-color {
  filter: grayscale(100%);
  transition: filter 0.2s linear;
}

.clutch-icon:hover .clutch-color,
.tm-icon:hover .tm-color,
.goodFirms-icon:hover .goodFirms-color,
.topDevs-icon:hover .topDevs-color {
  filter: grayscale(0%);
}
