@import '../index.css';
@import './externalLinksHoverColor.css';
@import '../commonStyles/innerPageStyle.css';
@import '../commonStyles/ÑubesAnimation.css';
@import '../commonStyles/onLoadInnerAnimation.css';

.cube-animation :nth-child(1) {
  fill: var(--cube-left-side-blue-color);
}

.cube-animation :nth-child(2) {
  fill: var(--cube-right-side-blue-color);
}

.cube-animation :nth-child(3) {
  fill: var(--cube-bottom-side-blue-color);
}

article.you-article > svg {
  margin-top: 9em;
}

article.we-article > svg {
  margin: 11.7em 0 0 7.4em;
}

.external-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 8.625em;
}

article.we-article {
  justify-content: space-between;
}

article.together {
  margin-top: 9.3em;
  margin-bottom: 4.8em;
}

article.together > .section-content {
  margin-right: -18em;
  z-index: 2;
}

article.together > .vertical-inscription {
  margin: 17em -6.5em 0 -19em;
}
