@import '../index.css';
@import './externalLinksHoverColor.css';
@import '../commonStyles/innerPageStyle.css';
@import '../commonStyles/сubesAnimation.css';
@import '../commonStyles/onLoadInnerAnimation.css';
@import '../swiper.min.css';
@import '../commonStyles/swiperCustomSryle.css';

.cube-animation :nth-child(1) {
  fill: var(--cube-left-side-blue-color);
}

.cube-animation :nth-child(2) {
  fill: var(--cube-right-side-blue-color);
}

.cube-animation :nth-child(3) {
  fill: var(--cube-bottom-side-blue-color);
}

.swiper-pagination-bullet-active {
  background: var(--cube-left-side-blue-color);
}

.external-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 8.625em;
}

article.we-article {
  justify-content: space-between;
}

article.together {
  margin-top: 4.6em;
  margin-bottom: 4.8em;
}

article.together .svg-container {
  width: 50%;
}

.together .vertical-inscription {
  top: -10em;
}

.content-column--start {
  padding-top: 1em;
  padding-bottom: 0;
}

.header-container.header-container--visible,
.header-container.header-container--hide {
  background-color: var(--cube-left-side-blue-color);
}
.header-container.header-container--top-position {
  animation: show-header-background 0.6s ease-out, show-header-animation 0.5s ease-out;
}

.header-container.header-container--hide {
  background-color: var(--cube-left-side-blue-color);
  animation: hide-header-animation 0.5s ease-out;
}

@keyframes show-header-animation {
  0% {
    top: -9em;
  }
  100% {
    top: 0;
  }
}

@keyframes hide-header-animation {
  0% {
    top: 0;
  }
  100% {
    top: -9em;
  }
}

@keyframes show-header-background {
  0% {
    background-color: var(--cube-left-side-blue-color);
  }
  100% {
    background-color: transparent;
  }
}

@media all and (max-width: 768px) {
  body {
    background-color: var(--cube-left-side-blue-color);
  }

  .external-links,
  article.together {
    margin: 0;
  }

  .external-links img {
    max-width: 100%;
  }
}
