#you_article_cube {
  animation: cubes-animation1 2s infinite alternate;
}

#we_article_cube {
  animation: cubes-animation1 2s infinite alternate 1s;
}

#together_article_cube1 {
  animation: cubes-animation1 2s infinite alternate;
}

#together_article_cube2 {
  animation: cubes-animation1 2s infinite alternate 1s;
}

@keyframes cubes-animation1 {
  100% {
    transform: translateY(40px);
  }
}
