@import '../index.css';
@import '../commonStyles/innerPageStyle.css';
@import '../commonStyles/onLoadInnerAnimation.css';

.cube-animation :nth-child(1) {
  fill: var(--cube-left-side-blue-color);
}

.cube-animation :nth-child(2) {
  fill: var(--cube-right-side-blue-color);
}

.cube-animation :nth-child(3) {
  fill: var(--cube-bottom-side-blue-color);
}

.title-section > h1 {
  margin: 0.45em 0 0 -3.68em;
}

.dataCollection-article {
  margin-top: 5em;
}

article {
  display: flex;
  flex-direction: column;
}

.dataCollection-article > h2 {
  animation: none;
}

h3,
.section-container > article > h2 {
  font-size: 2.25em;
}

h3 {
  margin-bottom: 0.2em;
}

.section-container > article > p {
  font-size: 1em;
  line-height: 1.75em;
}

.section-container > article > h2 {
  margin-bottom: 1em;
  font-family: montserrat_mediumregular, sans-serif;
  font-weight: 600;
}

article.youtube-article > h2 {
  margin-top: 2.6em;
}

.forensics-article {
  margin-bottom: 6.5em;
}
