@import '../index.css';
@import '../commonStyles/innerPageStyle.css';
@import '../commonStyles/onLoadInnerAnimation.css';

.cube-animation :nth-child(1) {
  fill: var(--cube-left-side-blue-color);
}

.cube-animation :nth-child(2) {
  fill: var(--cube-right-side-blue-color);
}

.cube-animation :nth-child(3) {
  fill: var(--cube-bottom-side-blue-color);
}

.privacy-policy-content article h2 {
  font-family: 'montserrat_mediumregular', sans-serif;
}

.title-section > h1 {
  margin: 0.45em 0 0 -3.68em;
}

.data-collection-article {
  margin-top: 5em;
}

.imprint-content article {
  display: flex;
  flex-direction: column;
}

.imprint-content article p,
.privacy-policy-content article p {
  max-width: 70%;
}

.data-collection-article > h2 {
  animation: none;
}

h3 {
  margin-bottom: 0.2em;
  font-size: 2.25em;
}


.section-container > article > h2 {
  margin-bottom: 1em;
  font-family: montserrat_mediumregular, sans-serif;
  font-weight: 600;
}

article.youtube-article > h2 {
  margin-top: 2.6em;
}

.header-container.header-container--visible,
.header-container.header-container--hide {
  background-color: var(--cube-left-side-blue-color);
}

.header-container.header-container--top-position {
  animation: show-header-background 0.6s ease-out, show-header-animation 0.5s ease-out;
}

.header-container.header-container--hide {
  background-color: var(--cube-left-side-blue-color);
  animation: hide-header-animation 0.5s ease-out;
}

@keyframes show-header-animation {
  0% {
    top: -9em;
  }
  100% {
    top: 0;
  }
}

@keyframes hide-header-animation {
  0% {
    top: 0;
  }
  100% {
    top: -9em;
  }
}

@keyframes show-header-background {
  0% {
    background-color: var(--cube-left-side-blue-color);
  }
  100% {
    background-color: transparent;
  }
}

@media all and (max-width: 1024px) {
  .imprint-content article p,
  .privacy-policy-content article p {
    max-width: 100%;
  }
}

@media all and (max-width: 768px) {
  body {
    background-color: var(--cube-left-side-blue-color);
  }

  .imprint-content article {
    padding-top: 1.5em;
  }
}
