<section class="contact-section section-container content-section" id="contact">
    <div class="content-wrapper">
        <h4>Level up your advertising management</h4>
        <p>Contact us to start your advertising success!</p>
        <a class="custom-button" href="./contact.html">
            <span>Get started</span>
            <svg class="button-img" width="26px" height="26px" aria-hidden="true" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="but_arrow" transform="translate(9.000000, 9.000000) rotate(-90.000000) translate(-9.000000, -9.000000) " fill="#ffffff">
                        <polygon id="path-1" points="7.875 0 7.875 13.7249559 1.57504412 7.425 0 8.99995588 9.00004412 18 18 8.99995588 16.4250441 7.425 10.125 13.7249559 10.125 0"></polygon>
                    </g>
                </g>
            </svg>
        </a>
    </div>
</section>