<footer>
    <div class="footer-container">
        <address class="footer-left">
                <p>&copy; <span id="year"></span>. AdCubex is a division of
                    <a href="https://instinctools.com" rel="noopener noreferrer external" >
                        <i><sup>&nbsp;*</sup>instinctools</i>
                    </a></p>
            <a href="mailto:contact@adcubex.com">contact@adcubex.com</a>
        </address>
        <a href="/privacyPolicy.html">Privacy policy</a>
    </div>
</footer>
<noscript><div><img src="https://mc.yandex.ru/watch/53906200" style="position:absolute; left:-9999px;" alt="" /></div></noscript>