<nav class="header-navigation">
    <div class="header-navigation-container">
        <img class="bg-header bg-main" src="./assets/images/cubes_for_menu_1.svg" alt="cubes" aria-hidden="true">
        <img class="bg-header bg-synergy" src="./assets/images/cubes_for_menu_2.svg" alt="cubes" aria-hidden="true">
        <img class="bg-header bg-strategy" src="./assets/images/cubes_for_menu_3.svg" alt="cubes" aria-hidden="true">
        <img class="bg-header bg-solutions" src="./assets/images/cubes_for_menu_4.svg" alt="cubes" aria-hidden="true">
        <img class="bg-header bg-lets-talk" src="./assets/images/cubes_for_menu_5.svg" alt="cubes"  aria-hidden="true">
        <img class="bg-header bg-insights" src="./assets/images/cubes_for_menu_6.svg" alt="cubes" aria-hidden="true">
        <div class="header-links-container">
            <a class="header-link link-synergy" href="./synergy.html">Synergy</a>
            <a class="header-link link-strategy" href="./strategy.html">Strategy</a>
            <a class="header-link link-solutions" href="./solutions.html">Solutions</a>
            <a class="header-link link-insights" href="./insights.html">Insights</a>
            <a class="header-link link-lets-talk" href="./contact.html">Let's talk</a>
        </div>
        <p class="header-navigation-footer-text">
            AdCubex is a division of <a href="https://www.instinctools.com" rel="noreferrer noopener external"
                                        target="_blank">*instinctools</a>
        </p>
    </div>
</nav>