.hidden-scroll {
  overflow: hidden;
}

.header-container {
  position: fixed;
  z-index: 9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 6.25em;
  padding: 0 3.8125em;
}

.header-container.header-container--top-position {
  animation: show-header-background 0.6s ease-out, show-header-animation 0.5s ease-out;
}

.header-container.header-container--visible.header-container--nav-active,
.header-container.header-container--visible.header-container--top-position,
.header-container.header-container--hide.header-container--top-position,
.header-container.header-container--hide.header-container--indicator {
  background-color: transparent;
}

.header-container.header-container--visible {
  z-index: 9;
  top: 0;
  background-color: white;
  animation: show-header-animation 0.5s ease-out;
}

.header-container.header-container--hide {
  top: -9em;
  background-color: white;
  animation: hide-header-animation 0.5s ease-out;
}

.logo,
.toggle-menu-button {
  z-index: 4;
}

.header-navigation {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  opacity: 0;
  overflow: hidden;
  width: 100vw;
  height: 0;
  background-color: var(--header-navigation-bg-color);
  background-image: url('../../assets/images/cubes.svg');
  background-size: cover;
  background-blend-mode: multiply;
  transition-property: background-color, height, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  will-change: opacity, background-color, height;
}

.header-navigation--active {
  opacity: 1;
  height: 100vh;
  z-index: 8;
}

.header-navigation-bg-image {
  position: absolute;
  z-index: -1;
  top: 0;
  right: -320px;
  opacity: 0.3;
  height: 100%;
}

.logo--active #logo_ad,
.logo--active #logo_cubex,
.logo--active #logo_when-ad-go-huge {
  fill: white !important;
}

.header-navigation--blue {
  background-color: var(--royal-blue-color);
}

.header-navigation--red {
  background-color: var(--sunset-orange-color);
}

.header-navigation--purple {
  background-color: var(--purple-heart-color);
}

.header-navigation--dark-purple {
  background-color: var(--royal-dark-blue-color);
}

.header-navigation-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 4em 0 4em;
  margin-top: 15em;
}

.header-links-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.header-links-container a,
.header-links-container p {
  font-family: 'montserratbold', sans-serif;
}

.header-links-container a {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 5.75em;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
}

.header-links-container a:hover::after {
  content: '';
  width: 0.75em;
  height: 0.75em;
  margin-left: 0.35em;
  background: url('../../assets/images/ArrowBlack.svg') center bottom no-repeat;
  background-size: contain;
  transform: rotate(-90deg);
}

.header-links-container a:hover {
  color: var(--mine-shaft-color);
}

.header-links-container a + a {
  margin-top: 0.2em;
}

.header-navigation-footer-text {
  margin-bottom: 3em;
  color: var(--white-with-opacity-color);
  font-size: 1em;
  font-weight: 600;
  line-height: 1.5;
}

.header-navigation-footer-text a {
  color: white;
  font-style: italic;
  text-decoration: none;
}

.toggle-menu-button {
  padding: 0;
  margin: 0;
  cursor: pointer;
  border: none;
  background: none;
}

.toggle-menu-button:focus {
  outline: 0.01em dotted var(--silver-color);
}

.header-open-menu-icon,
.header-close-menu-icon {
  display: none;
}

.header-open-menu-icon--active,
.header-close-menu-icon--active {
  display: block;
}

.header-container,
.content-container .section-container {
  font-size: 1rem;
}

.content-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80.6em;
  margin: 0 auto;
  color: var(--mine-shaft-lighter-color);
}

h1,
.section-container > h2,
.section-content > h2 {
  font-family: 'montserrat_mediumregular', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 5.3em;
  overflow: hidden;
  transition: line-height 0.5s ease-in-out;
}

footer {
  max-width: 80em;
  width: 100%;
  margin: 0 auto;
  color: var(--coal-grey-color);
  font-family: montserrat_lightregular, sans-serif;
}

.footer-container {
  padding: 2.25em 3.8125em;
  font-size: 0.875rem;
}

footer * {
  box-sizing: border-box;
  margin-top: 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-container:first-child {
  flex-grow: 1;
}

.footer-right {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.footer-left {
  font-style: normal;
}

.footer-left p span {
  color: var(--coal-grey-color);
  font-weight: 600;
  font-style: italic;
}

.footer-left a,
.footer-right a {
  text-decoration: none;
}

.footer-right > a {
  padding: 0 0.8em;
}

.footer-right > a:hover {
  color: black;
}

.vertical-inscription-container {
  position: relative;
  z-index: 7;
}

.vertical-inscription {
  position: absolute;
  top: 0;
  right: -1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  transform-origin: right top;
  transform: rotate(90deg);
  cursor: pointer;
  text-decoration: none;
}

.vertical-inscription-img-container {
  margin-right: 3.25em;
  transform: rotate(-90deg);
}

.vertical-inscription img {
  transition: transform 0.5s ease-in-out;
  will-change: transform;
  cursor: pointer;
}

.vertical-inscription:hover img {
  transform: translateY(20px);
}

.vertical-inscription > span {
  display: flex;
  align-items: center;
  color: var(--mine-shaft-lighter-color);
  font-family: 'montserrat_mediumregular', sans-serif;
  font-size: 2rem;
  font-weight: 600;
}

@keyframes show-header-animation {
  0% {
    top: -9em;
  }
  100% {
    top: 0;
  }
}

@keyframes hide-header-animation {
  0% {
    top: 0;
  }
  100% {
    top: -9em;
  }
}

@keyframes show-header-background {
  0% {
    background-color: white;
  }
  100% {
    background-color: transparent;
  }
}

@media all and (max-width: 1400px) {
  h1,
  .section-container > h2,
  .section-content > h2 {
    font-size: 4.5em;
  }

  .vertical-inscription > span {
    font-size: 1.7rem;
  }

  .logo {
    font-size: 0.875em;
  }

  .header-navigation-container {
    margin-top: 10em;
  }

  .header-links-container a {
    font-size: 3.75em;
  }
}

@media all and (max-width: 768px) {
  h1,
  .section-container > h2,
  .section-content > h2 {
    font-size: 4.5em;
  }

  .footer-right {
    display: none;
  }

  .header-container {
    padding: 0 1.75em;
  }

  .header-container,
  .header-navigation,
  .content-container .section-container {
    font-size: 0.8rem;
  }

  .header-links-container a {
    font-size: 4.75em;
  }

  .footer-container {
    flex-wrap: wrap;
  }
}

@media all and (max-width: 415px) {
  .header-links-container a {
    font-size: 3.75em;
  }

  h1,
  .section-container > h2,
  .section-content > h2 {
    font-size: 3.5em;
  }
}
