.hidden-scroll {
  overflow: hidden;
}

.header-container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 6.25em;
  padding: 0 3.8125em;
}

.header-container.header-container_white {
  z-index: 9;
  background-color: white;
  animation: white-animation 0.3s ease-out;
}

.header-container.header-container_hide {
  z-index: 4;
  background-color: transparent;
  animation: white-animation-hide 0.3s ease-out;
}

@keyframes white-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes white-animation-hide {
  0% {
    background-color: white;
  }
  100% {
    background-color: transparent;
  }
}

svg.header-element_hide {
  opacity: 0;
  animation: hide-animation 0.3s ease-out;
}

button.header-element_hide {
  opacity: 0;
  animation: hide-animation 0.3s ease-out;
}

@keyframes hide-animation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

svg.header-element_show {
  opacity: 1;
  animation: none;
}

button.header-element_show {
  opacity: 1;
  animation: none;
}

.logo,
.toggle-menu-button {
  z-index: 4;
}

.header-navigation {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  opacity: 0;
  overflow: hidden;
  width: 100vw;
  height: 0;
  background-color: var(--header-navigation-bg-color);
  background-image: url('../../assets/images/cubes.svg');
  background-size: cover;
  background-blend-mode: multiply;
  transition-property: background-color, height, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  will-change: opacity, background-color, height;
}

.header-navigation--active {
  opacity: 1;
  height: 100vh;
  z-index: 3;
}

.header-navigation-bg-image {
  position: absolute;
  z-index: -1;
  top: 0;
  right: -320px;
  opacity: 0.3;
  height: 100%;
}

.logo--active #logo_ad,
.logo--active #logo_cubex,
.logo--active #logo_when-ad-go-huge {
  fill: white !important;
}

.header-navigation--blue {
  background-color: var(--royal-blue-color);
}

.header-navigation--red {
  background-color: var(--sunset-orange-color);
}

.header-navigation--purple {
  background-color: var(--purple-heart-color);
}

.header-navigation--dark-purple {
  background-color: var(--royal-dark-blue-color);
}

.header-navigation-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 4em 0 4em;
  margin-top: 15em;
}

.header-links-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.header-links-container a,
.header-links-container p {
  font-family: 'montserratbold', sans-serif;
}

.header-links-container a {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: white;
  font-size: 5.75em;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
}

.header-links-container a > img {
  margin-left: 0.7em;
}

.header-links-container a:hover {
  color: var(--mine-shaft-color);
}

.header-links-container a + a {
  margin-top: 0.2em;
}

.header-navigation-footer-text {
  margin-bottom: 3em;
  color: var(--white-with-opacity-color);
  font-size: 1em;
  line-height: 1.5;
}

.header-navigation-footer-text a {
  color: white;
  font-style: italic;
  text-decoration: none;
}

.header-link-arrow-icon {
  display: none;
}

.header-link-arrow-icon--active {
  display: block;
}

.toggle-menu-button {
  padding: 0;
  margin: 0;
  cursor: pointer;
  border: none;
  background: none;
}

.toggle-menu-button:focus {
  outline: 0.01em dotted var(--silver-color);
}

.header-open-menu-icon,
.header-close-menu-icon {
  display: none;
}

.header-open-menu-icon--active,
.header-close-menu-icon--active {
  display: block;
}

.header-container,
.content-container .section-container {
  font-size: 1rem;
}

footer {
  max-width: 80em;
  width: 100%;
  padding: 2.25em 3.8125em;
  margin: 0 auto;
  box-sizing: border-box;
  color: white;
  font-size: 0.875rem;
}

footer * {
  box-sizing: border-box;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-container:first-child {
  flex-grow: 1;
}

.footer-right {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.footer-left {
  font-style: normal;
}

.footer-left p span {
  font-weight: 600;
  font-style: italic;
}

.footer-left > p > a {
  text-decoration: none;
}

.footer-left > p > a > i > sup {
  color: red;
}

.footer-left > p > a > i > span {
  color: black;
}

.footer-left > a,
.footer-right > a {
  color: white;
  text-decoration: none;
}

.footer-right > a {
  padding: 0 0.8em;
}

.footer-right > a:hover {
  color: var(--mine-shaft-lighter-color);
}

.vertical-inscription-container {
  position: relative;
  z-index: 8;
}

.vertical-inscription {
  position: absolute;
  top: 0;
  right: -1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  transform-origin: right top;
  transform: rotate(90deg);
  cursor: pointer;
  text-decoration: none;
}

.vertical-inscription-img-container {
  margin-right: 3.25em;
  transform: rotate(-90deg);
}

.vertical-inscription img {
  -o-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
  cursor: pointer;
}

.vertical-inscription:hover img {
  -o-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
}

.vertical-inscription > span {
  display: flex;
  align-items: center;
  color: var(--mine-shaft-lighter-color);
  font-family: 'montserrat_mediumregular', sans-serif;
  font-size: 2rem;
  font-weight: 600;
}

@media all and (max-width: var(--WXGA-device)) {
  .vertical-inscription > span {
    font-size: 1.7rem;
  }

  .logo {
    font-size: 0.875em;
  }

  .header-navigation-container {
    margin-top: 10em;
  }

  .header-links-container a {
    font-size: 3.75em;
  }

  footer {
    margin: 1em 0 2.5em 0;
  }
}

@media all and (max-width: 768px) {

  .header-container {
    padding: 0 1.75em;
  }

  .header-container,
  .content-container .section-container {
    font-size: 0.8rem;
  }

  .footer-container {
    flex-wrap: wrap;
  }
}
