*,
*:focus {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2 {
  font-family: 'montserrat_mediumregular', sans-serif;
  font-size: 5.625em;
  font-weight: 600;
  font-style: normal;
  line-height: 1.4;
}

p {
  font-family: 'montserrat_lightregular', sans-serif;
  font-size: 1.625em;
  font-weight: 300;
  line-height: 1.55;
}

.hidden-scroll {
  overflow: hidden;
}

.header-container {
  position: fixed;
  z-index: 9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 6.25em;
  padding: 0 3.8125em;
}

.header-container.header-container--top-position {
  animation: show-header-background 0.6s ease-out, show-header-animation 0.5s ease-out;
}

.header-container.header-container--visible.header-container--nav-active,
.header-container.header-container--visible.header-container--top-position,
.header-container.header-container--hide.header-container--top-position,
.header-container.header-container--hide.header-container--indicator {
  background-color: transparent;
}

.header-container.header-container--visible {
  z-index: 9;
  top: 0;
  background-color: white;
  animation: show-header-animation 0.5s ease-out;
}

.header-container.header-container--hide {
  top: -9em;
  background-color: white;
  animation: hide-header-animation 0.5s ease-out;
}

.logo,
.toggle-menu-button {
  z-index: 4;
}

.header-navigation {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  opacity: 0;
  overflow: hidden;
  width: 100vw;
  height: 0;
  background-color: var(--header-navigation-bg-color);
  background-image: url('../../assets/images/cubes.svg');
  background-size: cover;
  background-blend-mode: multiply;
  transition-property: background-color, height, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  will-change: opacity, background-color, height;
}

.header-navigation--active {
  opacity: 1;
  height: 100vh;
  z-index: 8;
}

.header-navigation-bg-image {
  position: absolute;
  z-index: -1;
  top: 0;
  right: -320px;
  opacity: 0.3;
  height: 100%;
}

.logo--active #logo_dark_curves-2 * {
  fill: white !important;
}

.header-navigation--blue {
  background-color: var(--royal-blue-color);
}

.header-navigation--red {
  background-color: var(--sunset-orange-color);
}

.header-navigation--purple {
  background-color: var(--purple-heart-color);
}

.header-navigation--dark-purple {
  background-color: var(--royal-dark-blue-color);
}

.header-navigation-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 4em 0 4em;
  margin-top: 15em;
}

.header-links-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.header-links-container a,
.header-links-container p {
  font-family: 'montserratbold', sans-serif;
}

.header-links-container a {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 5.625em;
  font-weight: 500;
  line-height: 1.05;
  text-decoration: none;
}

.header-links-container a:hover::after {
  content: '';
  width: 0.555em;
  height: 0.555em;
  margin-top: 0.25em;
  margin-left: 0.665em;
  background: url('../../assets/images/ArrowBlack.svg') center bottom no-repeat;
  background-size: contain;
  transform: rotate(-90deg);
}

.header-links-container a.link-solutions:hover::after {
  margin-top: 0.2em;
}

.header-links-container a.link-lets-talk:hover::after {
  margin-top: 0.1em;
}

.header-links-container a:hover {
  color: var(--mine-shaft-color);
}

.header-links-container a + a {
  margin-top: 0.2em;
}

.header-navigation-footer-text {
  margin-bottom: 3em;
  color: var(--white-with-opacity-color);
  font-size: 1em;
  font-weight: 600;
  line-height: 1.5;
}

.header-navigation-footer-text a {
  color: white;
  font-style: italic;
  text-decoration: none;
}

.toggle-menu-button {
  position: relative;
  width: 1.625em;
  height: 1.25em;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  background: none;
}

.header-open-menu-icon {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  cursor: pointer;
}

.header-open-menu-icon span {
  position: absolute;
  left: 0;
  display: block;
  height: 3px;
  opacity: 1;
  background: var(--mine-shaft-light-color);
  transition: all 0.25s ease-in-out;
}

.header-open-menu-icon.header-open-menu-icon--active:hover {
  animation: close-hover 0.35s ease-in-out 1;
}

.header-open-menu-icon.header-open-menu-icon--active span {
  background: #fff;
}

.toggle-menu-button:hover .header-open-menu-icon span,
.toggle-menu-button:active .header-open-menu-icon span,
.toggle-menu-button .header-open-menu-icon.header-open-menu-icon--active > span,
.toggle-menu-button .header-open-menu-icon.header-open-menu-icon--active > span {
  width: 100% !important;
}

.header-open-menu-icon span:nth-child(1) {
  top: 0;
  width: 100%;
  transform-origin: left top;
}

.header-open-menu-icon span:nth-child(2) {
  top: calc(50% - 1.5px);
  width: 75%;
  transform-origin: left center;
}

.header-open-menu-icon span:nth-child(3) {
  bottom: 0;
  width: 50%;
  transform-origin: left bottom;
}

.header-open-menu-icon.header-open-menu-icon--active span:nth-child(1) {
  transform: rotate(45deg);
}

.header-open-menu-icon.header-open-menu-icon--active span:nth-child(2) {
  width: 0;
  opacity: 0;
}

.header-open-menu-icon.header-open-menu-icon--active span:nth-child(3) {
  transform: rotate(-45deg);
}

.header-open-menu-icon--active,
.header-close-menu-icon--active {
  display: block;
}

nav,
footer,
.header-container,
.content-container {
  font-size: 1rem;
}

.content-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80.6em;
  width: 100%;
  margin: 0 auto;
  color: var(--mine-shaft-lighter-color);
}

h1,
.section-container > h2,
.section-content > h2 {
  font-family: 'montserrat_mediumregular', sans-serif;
  font-style: normal;
  overflow: hidden;
  transition: line-height 0.5s ease-in-out;
}

footer {
  max-width: 80em;
  width: 100%;
  margin: 0 auto;
  color: var(--coal-grey-color);
  font-family: montserrat_lightregular, sans-serif;
}

.footer-container {
  padding: 2.25em 3.8125em;
}

.footer-left > a,
.footer-right > a,
.footer-container p {
  font-size: 0.972em;
}

footer * {
  box-sizing: border-box;
  margin-top: 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-container:first-child {
  flex-grow: 1;
}

.footer-right {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.footer-left {
  font-style: normal;
}

.footer-left p span {
  color: var(--coal-grey-color);
  font-style: italic;
}

.footer-left a,
.footer-right a {
  text-decoration: none;
}

.footer-right > a {
  padding: 0 0.8em;
}

.footer-right > a:hover {
  color: black;
}

.vertical-inscription-container {
  position: relative;
  z-index: 7;
}

.vertical-inscription {
  position: absolute;
  top: 0;
  right: -1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  transform-origin: right top;
  transform: rotate(90deg);
  cursor: pointer;
  text-decoration: none;
}

.vertical-inscription-img-container {
  margin-right: 3.25em;
  transform: rotate(-90deg);
}

.vertical-inscription img {
  transition: transform 0.5s ease-in-out;
  will-change: transform;
  cursor: pointer;
}

.vertical-inscription:hover img {
  transform: translateY(20px);
}

.vertical-inscription > span {
  display: flex;
  align-items: center;
  color: var(--mine-shaft-lighter-color);
  font-family: 'montserrat_mediumregular', sans-serif;
  font-size: 2em;
  font-weight: 600;
}

.text-link {
  word-break: break-all;
}

.img-list-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@keyframes close-hover {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.3);
  }
}

@keyframes show-header-animation {
  0% {
    top: -9em;
  }
  100% {
    top: 0;
  }
}

@keyframes hide-header-animation {
  0% {
    top: 0;
  }
  100% {
    top: -9em;
  }
}

@keyframes show-header-background {
  0% {
    background-color: white;
  }
  100% {
    background-color: transparent;
  }
}

/* for touch devices */
@media (pointer: coarse) {
  .header-links-container a::after {
    display: none;
  }

  .toggle-menu-button:hover .header-open-menu-icon span:nth-child(2),
  .toggle-menu-button:active .header-open-menu-icon span:nth-child(2) {
    width: 75%;
  }

  .toggle-menu-button:hover .header-open-menu-icon:nth-child(3),
  .toggle-menu-button:active .header-open-menu-icon:nth-child(3) {
    width: 50%;
  }
}

@media all and (max-width: 1400px) {
  nav,
  footer,
  .header-container,
  .content-container {
    font-size: 0.9rem;
  }
  .header-navigation-container {
    margin-top: 10em;
  }
}

@media all and (max-width: 1024px) {
  nav,
  footer,
  .header-container,
  .content-container {
    font-size: 0.8rem;
  }

  .content-container {
    max-width: 100%;
  }

  .hidden-lg {
    display: none;
  }
}

@media all and (max-width: 960px) {
  nav,
  footer,
  .header-container,
  .content-container {
    font-size: 0.8rem;
  }
}

@media all and (max-width: 768px) {
  nav,
  footer,
  .header-container,
  .content-container {
    font-size: 0.695rem;
  }

  h1,
  h2 {
    font-size: 4.5em;
  }

  .footer-container a,
  .footer-container p,
  .footer-container span {
    font-size: 1em;
  }

  .header-links-container a {
    font-size: 4.7em;
  }

  .header-container,
  .header-navigation-container {
    padding: 0 1.75em;
  }

  .footer-container {
    padding: 0 1.75em 1.75em;
    flex-direction: column;
  }

  .footer-right {
    padding-top: 1em;
  }

  .footer-right a {
    padding: 0 0.8em 0 0;
  }
}

@media (max-height: 400px) and (orientation: landscape) {
  .header-navigation-container {
    margin-top: 6.5em;
  }

  .header-links-container a {
    font-size: 3.8em;
  }
}

@media all and (max-width: 480px) {
  .content-section h1,
  .content-section h2 {
    font-size: 3em;
  }
}
