@import 'headerAndFooter.css';
@import './mailIcon.css';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'montserrat_lightregular', sans-serif;
}

.title-section {
  width: 100%;
  color: white;
}

.title-section .content-wrapper {
  box-sizing: border-box;
  padding: 17em 3.8125em 0;
}

.title-section .section-content {
  background: url('../../assets/images/rectangle.svg') top left no-repeat;
  padding-bottom: 4em;
}

.title-section h1 {
  padding-top: 2rem;
  margin-top: 0;
}

.title-section p {
  font-size: 2.25em;
  font-weight: 600;
  line-height: 1.5em;
}

.content-section {
  width: 100%;
  background-color: white;
}

.content-section .content-wrapper {
  box-sizing: border-box;
  padding: 2.8125em 3.8125em;
}

.section-content > h2 {
  margin-bottom: 0;
  height: 1.5em;
  line-height: 5em;
}

.content-wrapper article:nth-of-type(1) {
  padding-top: 0;
}

article {
  position: relative;
  display: flex;
  flex-direction: column;
}

article div > p {
  opacity: 0;
  transition: opacity 0.6s ease-in-out 0.4s;
}

.article--active div > p {
  opacity: 1;
}

.article--active h2 {
  line-height: 1.12;
}

article.article-right {
  justify-content: flex-end;
}

article.content-column,
.content-column {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

article.content-column--start,
.content-column--start {
  justify-content: flex-start;
}

article.content-column--end,
.content-column--end {
  justify-content: flex-end;
}

article.content-column--start,
article.content-column--end,
.content-column--start,
.content-column--end {
  padding-top: 8em;
  padding-bottom: 8em;
}

.content-column .section-content {
  position: relative;
  z-index: 2;
  width: 60%;
}

.content-column .svg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  max-height: 100%;
  padding: 0 1em;
}

.content-column .svg-bg {
  position: absolute;
  z-index: 1;
  top: 0;
}

.content-column .svg-bg--right {
  right: 0;
}

.content-column .svg-bg--left {
  left: 0;
}

.svg-container svg {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

h2 + p {
  margin-top: 1.8em;
}

.vertical-inscription {
  top: -8em;
}

.contact-section {
  max-width: 80em;
  width: 100%;
  margin-top: 2.5em;
  color: white;
  background-color: var(--mine-shaft-lighter-color);
}

.contact-section h4 {
  margin-top: 0;
  font-family: montserrat_mediumregular, sans-serif;
  font-size: 2.25em;
}

.contact-section .custom-button {
  margin-bottom: 0;
}

.contact-section a {
  text-decoration: none;
}

.custom-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10.5em;
  max-width: 100%;
  height: 2.25em;
  padding: 0 1em 0 1em;
  border: white solid 0.01em;
  margin: 2.4em 0 1.7em;
  background-color: transparent;
  color: white;
  font-family: montserrat_mediumregular, sans-serif;
  font-size: 2.25em;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out;
}

.custom-button:hover {
  color: var(--mine-shaft-lighter-color);
  background-color: white;
}

.custom-button > .button-img {
  margin-left: 1em;
  transition: transform 0.6s ease-in-out;
}

.custom-button:hover .button-img {
  transform: translateX(0.3em);
}

#but_arrow {
  transition: fill 0.6s ease-in;
}

.custom-button:hover #but_arrow {
  fill: var(--mine-shaft-lighter-color);
}

.cube {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.cube-position {
  transform: translate(2400px, 0);
}

.cube-animation {
  transform-origin: 17% 50%;
  transform: scale(8);
  animation: cube-animation 1.4s ease-out alternate;
}

footer {
  color: white;
}

.footer-left a,
.footer-right a {
  color: white;
}

.footer-left p span {
  color: white;
  font-style: italic;
}

@keyframes cube-animation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(8);
  }
}

@media all and (max-width: 1400px) {
  article.content-column--start,
  article.content-column--end,
  .content-column--start,
  .content-column--end {
    padding-top: 0;
    padding-bottom: 2em;
  }
}

@media (min-width: 767px) and (max-height: 720px) {
  .title-section {
    min-height: 100vh;
  }
}

@media (min-width: 769px) and (max-width: 1400px) {
  .content-wrapper .vertical-inscription {
    top: -2em;
    right: -3em;
  }

  .vertical-inscription-img-container {
    width: 3em;
    height: 3em;
    margin-right: 2.25em;
  }
}

@media all and (max-width: 768px) {
  body > svg.cube,
  .vertical-inscription-container,
  .content-column .svg-container,
  .contact-us-container .svg-container {
    display: none;
  }

  .content-section .content-wrapper {
    position: relative;
  }

  footer {
    margin: 0 auto;
  }

  .footer-container,
  .content-section .content-wrapper {
    width: 100%;
    padding: 2.5em 1.75em;
  }

  .title-section .content-wrapper {
    width: 100%;
    padding: 7em 1.75em 0;
  }

  .title-section .section-content {
    padding-bottom: 1em;
  }

  .content-column,
  article.content-column {
    flex-direction: column;
  }

  .content-column--end,
  .content-column--start,
  article.content-column--end,
  article.content-column--start {
    padding-top: 2.5em;
    padding-bottom: 0;
  }

  .content-column .section-content {
    width: 100%;
  }

  .section-container article .section-content > h2 {
    height: auto;
  }

  article div > p {
    opacity: 1;
  }

  .contact-section h4 {
    margin-top: 0;
  }
}
