@import 'headerAndFooter.css';
@import './mailIcon.css';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'montserrat_lightregular', sans-serif;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80em;
  margin: 0 auto;
  color: var(--mine-shaft-lighter-color);
}

.title-section {
  width: 100%;
  color: white;
}

.title-section .content-wrapper {
  padding-top: 17em;
}

.title-section .section-content {
  background: url('../../assets/images/rectangle.svg') top left no-repeat;
  padding-bottom: 4em;
}

.title-section h1 {
  padding-top: 2rem;
  margin-top: 0;
}

.title-section p {
  font-size: 2em;
  font-weight: 600;
  line-height: 1.5em;
}

.content-section {
  width: 100%;
  background-color: white;
}

.content-section .content-wrapper {
  padding-top: 3.8125em;
}

.content-wrapper {
  box-sizing: border-box;
  width: 100%;
  padding: 0 3.8125em;
}

h1,
.section-content > h2 {
  font-family: montserrat_mediumregular, sans-serif;
  font-size: 5.2em;
  font-weight: 600;
}

.section-content > h2 {
  margin-top: 0;
  margin-bottom: 0;
  height: 1.5em;
  line-height: 5em;
  overflow: hidden;
  transition: line-height 0.5s ease-in-out;
}

.article--active div > h2 {
  line-height: 1.12em;
}

article div > p {
  opacity: 0;
  transition: opacity 0.6s ease-in-out 0.4s;
}

.article--active div > p {
  opacity: 1;
}

article {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5em;
}

article.article-right {
  justify-content: flex-end;
}

article.content-column,
.content-column {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.section-container article .section-content > p {
  font-size: 1.625em;
  line-height: 1.5em;
}

.content-column .svg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 0 1em;
}

.svg-container svg {
  max-width: 100%;
  height: auto;
}

h2 + p {
  margin-top: 1.8em;
}

.vertical-inscription {
  top: -8em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  transform: rotate(90deg);
  cursor: pointer;
  text-decoration: none;
}

.vertical-inscription-img-container {
  margin-right: 3.25em;
  transform: rotate(-90deg);
}

.vertical-inscription img {
  -o-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
  cursor: pointer;
}

.vertical-inscription:hover img {
  -o-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
}

.vertical-inscription > span {
  display: flex;
  align-items: center;
  color: var(--mine-shaft-lighter-color);
  font-family: 'montserrat_mediumregular', sans-serif;
  font-size: 2rem;
  font-weight: 600;
}

.contact-section {
  max-width: 80em;
  width: 100%;
  margin-top: 2.5em;
  color: white;
  background-color: var(--mine-shaft-lighter-color);
}

.contact-section h4 {
  font-family: montserrat_mediumregular, sans-serif;
  font-size: 2.25em;
}

h4 + p {
  font-size: 1.75em;
}

.custom-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 23.625rem;
  height: 5rem;
  padding: 0 1em 0 1em;
  border: white solid 0.01em;
  margin: 2.4em 0 1.7em;
  background-color: transparent;
  color: white;
  font-family: montserrat_mediumregular, sans-serif;
  font-size: 2.25em;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out;
}

.custom-button:hover {
  color: var(--mine-shaft-lighter-color);
  background-color: white;
}

.custom-button > .button-img {
  margin-left: 1em;
  transition: transform 0.6s ease-in-out;
}

.custom-button:hover .button-img {
  transform: translateX(0.3em);
}

#but_arrow {
  transition: fill 0.6s ease-in;
}

.custom-button:hover #but_arrow {
  fill: var(--mine-shaft-lighter-color);
}

.cube {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.cube-position {
  transform: translate(2400px, 0);
}

.cube-animation {
  transform-origin: 17% 50%;
  transform: scale(8);
  animation: cube-animation 1.4s ease-out alternate;
}

@keyframes cube-animation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(8);
  }
}

@media all and (max-width: 1366px) {
  .custom-button {
    height: 3em;
    font-size: 1.75em;
  }
}
