.mailIcon-container {
  position: fixed;
  right: 2.5em;
  bottom: 4.5em;
  z-index: 7;
  border: none;
  background: none;
  cursor: pointer;
  text-decoration: none;
}

.mailIcon-background {
  width: 3.25em;
  background-color: transparent;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  will-change: width, overflow;
  cursor: pointer;
}

.icon-wrapper {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 8px 0 black;
  transition-property: border-radius, box-shadow;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}

.mailIcon-background:hover {
  width: 11em;
  border-radius: 0;
  overflow: visible;
  box-shadow: none;
}

.mailIcon-background:hover .icon-wrapper {
  border-radius: 15% 15% 15% 15% / 45% 45% 45% 45%;
  box-shadow: none;
}

.mailIcon-background:hover .start-el,
.mailIcon-background:hover .mid-el,
.mailIcon-background:hover .mail-el {
  background-color: var(--red-orange-color);
}

.mailIcon-background:hover .mid-el {
  width: 7.7em;
}

.start-el {
  width: 3.25em;
  height: 3.25em;
  margin-right: -1.8em;
  border-radius: 50%;
  background-color: #353535;
  transition: background-color 0.3s ease-in;
}

.mid-el {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 0;
  color: white;
  background-color: #353535;
  transition-property: background-color, width;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}

.mid-el > span {
  white-space: nowrap;
}

.mail-el {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.25em;
  height: 3.25em;
  margin-left: -1.5em;
  border-radius: 50%;
  background-color: #353535;
  transition: background-color 0.3s ease-in;
}

@media (max-width: 1024px) and (orientation: landscape) {
  .mailIcon-container {
    bottom: 1.5em;
  }
}

@media (max-width: 768px) {
  .mailIcon-container {
    right: 1em;
    bottom: 1.5em;
  }
}

@media (pointer: coarse) {
  .mailIcon-background:hover {
    width: 3.25em;
  }

  .mailIcon-background:hover .mid-el {
    width: 0;
  }
}
