.logo {
  animation: logo_animation 0.8s ease-out alternate;
}

.toggle-menu-button {
  animation: menu_animation 0.9s ease-out alternate;
}

h1,
h2,
h3 {
  animation: title1_animation 1s ease-out alternate;
}

.section-content > p,
article > p {
  animation: title_content_animation 1.2s ease-out alternate;
}

@keyframes logo_animation {
  0%,
  20% {
    transform: translate(0px, 2rem);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

@keyframes menu_animation {
  0%,
  40% {
    transform: translate(0px, 2rem);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

@keyframes title1_animation {
  0%,
  60% {
    transform: translate(0px, 2rem);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

@keyframes title_content_animation {
  0%,
  80% {
    transform: translate(0px, 2rem);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}
