#logo {
  animation: logo_animation 0.8s ease-out alternate;
}

.toggle-menu-button {
  animation: menu_animation 0.9s ease-out alternate;
}

h1,
h2 {
  animation: title_animation 1s ease-out alternate;
}

.supervise-section > .text-container {
  animation: supervise_animation 1.2s ease-out alternate;
}

.expertise-section > .text-container,
.external-links,
.toolset-section > .text-container,
.advantage-section > .text-container,
.budget-text-container,
.control-section > .inner-section-text,
.power-text-container,
.improvement-section > .text-container {
  animation: content_animation 1.8s ease-out alternate;
}

@keyframes logo_animation {
  0%,
  16.67% {
    transform: translate(0px, 2rem);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

@keyframes menu_animation {
  0%,
  33.32% {
    transform: translate(0px, 2rem);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

@keyframes title_animation {
  0%,
  49.98% {
    transform: translate(0px, 2rem);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

@keyframes supervise_animation {
  0%,
  66.64% {
    transform: translate(0px, 2rem);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

@keyframes content_animation {
  0%,
  83.3% {
    transform: translate(0px, 2rem);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}
