#logo {
  animation: header_animation 0.8s ease-out alternate;
}

.toggle-menu-button {
  animation: header_animation 0.9s ease-out alternate;
}

@keyframes header_animation {
  0% {
    transform: translate(0px, 2rem);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}
