@import './normalize.css';

:root {
  /* Color Schema */
  /* Use Zeplin color names or this service for naming - http://chir.ag/projects/name-that-color */
  --cube-left-side-red-color: rgba(240, 62, 62);
  --cube-right-side-red-color: rgba(191, 49, 48);
  --cube-bottom-side-red-color: rgba(219, 56, 57);
  --cube-left-side-blue-color: rgba(75, 84, 242);
  --cube-right-side-blue-color: rgba(67, 74, 190);
  --cube-bottom-side-blue-color: rgba(72, 80, 223);
  --cube-left-side-dark-blue-color: rgba(108, 60, 230);
  --cube-right-side-dark-blue-color: rgba(97, 49, 219);
  --cube-bottom-side-dark-blue-color: rgba(102, 55, 223);
  --cube-left-side-purple-color: rgba(157, 55, 227);
  --cube-right-side-purple-color: rgba(147, 45, 191);
  --cube-bottom-side-purple-color: rgba(150, 49, 213);
}
