@import './externalLinksHoverColor.css';
@import './headerAndFooterInnerPages.css';
@import './strategy.css';
/*TODO: Use "em" instead of "rem" where it make sense*/

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'montserrat_lightregular', sans-serif;
  background-color: #ef3e3e;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -14em;
  color: #353535;
}

.title-section {
  display: flex;
  justify-content: flex-start;
  margin: 17em 0 0 8em;
  color: #ffffff;
}

.content-section {
  margin-top: -16.063em;
  background-color: #ffffff;
}

.section-container {
  width: 80em;
}

.title-section > .section-content {
  margin: -2.7em 0 0 -18.5em;
}

.section-content > h1,
.section-content > h2 {
  font-family: montserrat_mediumregular, sans-serif;
  font-size: 5.2em;
  font-weight: 600;
}

.section-content > h2 {
  margin-bottom: 0;
}

.section-container > .section-content > p {
  font-size: 1.9em;
  font-weight: 600;
  line-height: 1.5em;
}

article,
.external-links {
  display: flex;
  justify-content: space-between;
  margin: 0 4em 0 4em;
}

article.we-article {
  justify-content: flex-end;
}

.together {
  margin-top: 9.3em;
  margin-bottom: 15.8em;
}

.section-container > article > .section-content > p {
  font-size: 1.625em;
  line-height: 1.5em;
}

h2 + p {
  margin-top: 1.8em;
}

article.together > .vertical-inscription {
  margin: 17em -6.5em 0 0;
}

.vertical-inscription {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 9.5em;
  margin: 14.5em -9em 0 0;
  transform: rotate(90deg);
  cursor: pointer;
  text-decoration: none;
}

.vertical-inscription-img-container {
  margin-right: 3.25em;
  transform: rotate(-90deg);
}

.vertical-inscription img {
  -o-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
  cursor: pointer;
}

.vertical-inscription:hover img {
  -o-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
}

.vertical-inscription > span {
  display: flex;
  align-items: center;
  color: #353535;
  font-family: 'montserrat_mediumregular', sans-serif;
  font-size: 2rem;
  font-weight: 600;
}

.external-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 8.625em;
}

.contact-section {
  margin-top: 2.5em;
  color: #ffffff;
  background-color: #353535;
}

.contact-section > h4 {
  margin: 3.3em 0 0 1.65em;
  font-family: montserrat_mediumregular, sans-serif;
  font-size: 2.25em;
}

h4 + p {
  margin: 1.6em 0 0 2.2em;
  font-size: 1.75em;
}

.custom-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23.625rem;
  height: 5rem;
  padding-left: 0.9em;
  border: #ffffff solid 0.01em;
  margin: 2.4em 0 3.3em 1.7em;
  background-color: transparent;
  color: #fff;
  font-family: montserrat_mediumregular, sans-serif;
  font-size: 2.25em;
  font-weight: 600;
  cursor: pointer;
}

.custom-button > .button-img {
  margin-left: 1em;
  transition: transform 0.6s ease-in-out;
}

.custom-button:hover .button-img {
  transform: translateX(0.3em);
}
