#Fill-1,
#Fill-3,
#Fill-5,
#Fill-7,
#Fill-10,
#Fill-12,
#twitter,
#Bing,
#facebook_1,
#Baidu-8,
#Baidu-7,
#Baidu-6,
#Baidu-5,
#Baidu-4,
#Baidu-1,
#Yahoo-1,
#Yahoo-3,
#Yahoo-5,
#Yahoo-7,
#Yahoo-10,
#Yahoo-12,
#Daimler-1,
#Daimler-4,
#Daimler-6,
#Daimler-8,
#Daimler-10,
#Daimler-12,
#Daimler-14,
#Burda1,
#Burda-2,
#Burda-4,
#Burda-7,
#Burda-9,
#Burda-11,
#Burda-13,
#Burda-15,
#Burda-17,
#Burda-19,
#Burda-22,
#Burda-24,
#Burda-27,
#Burda-29,
#Burda-32,
#Burda-34,
#Fujitsu,
#thyssenkrupp,
#evonik {
  transition: fill 0.2s linear;
}

.social-section > svg:hover #Fill-1 {
  fill: #4286f5;
}

.social-section > svg:hover #Fill-3,
.social-section > svg:hover #Fill-5 {
  fill: #ea4235;
}

.social-section > svg:hover #Fill-7 {
  fill: #4185f4;
}

.social-section > svg:hover #Fill-10 {
  fill: #fabc05;
}

.social-section > svg:hover #Fill-12 {
  fill: #34a853;
}

.social-section > svg:hover #twitter {
  fill: #1da1f2;
}

.social-section > svg:hover #Bing {
  fill: #00877d;
}

.social-section > svg:hover #facebook_1 {
  fill: #3b5998;
}

.social-section > svg:hover #Baidu-8,
.social-section > svg:hover #Baidu-7,
.social-section > svg:hover #Baidu-6,
.social-section > svg:hover #Baidu-5,
.social-section > svg:hover #Baidu-4 {
  fill: #ec1c24;
}

.social-section > svg:hover #Baidu-1 {
  fill: #2932e1;
}

.social-section > svg:hover #Yahoo-1,
.social-section > svg:hover #Yahoo-3,
.social-section > svg:hover #Yahoo-5,
.social-section > svg:hover #Yahoo-7,
.social-section > svg:hover #Yahoo-10,
.social-section > svg:hover #Yahoo-12 {
  fill: #410093;
}

.social-section > svg:hover #Daimler-1,
.social-section > svg:hover #Daimler-4,
.social-section > svg:hover #Daimler-6,
.social-section > svg:hover #Daimler-8,
.social-section > svg:hover #Daimler-10,
.social-section > svg:hover #Daimler-12,
.social-section > svg:hover #Daimler-14 {
  fill: #003461;
}

.social-section > svg:hover #Burda-1,
.social-section > svg:hover #Burda-2,
.social-section > svg:hover #Burda-4,
.social-section > svg:hover #Burda-7,
.social-section > svg:hover #Burda-9,
.social-section > svg:hover #Burda-11,
.social-section > svg:hover #Burda-13,
.social-section > svg:hover #Burda-15,
.social-section > svg:hover #Burda-17,
.social-section > svg:hover #Burda-19,
.social-section > svg:hover #Burda-22,
.social-section > svg:hover #Burda-24,
.social-section > svg:hover #Burda-27,
.social-section > svg:hover #Burda-29,
.social-section > svg:hover #Burda-32,
.social-section > svg:hover #Burda-34 {
  fill: #231f20;
}

.social-section > svg:hover #Fujitsu {
  fill: #ee3e33;
}

.social-section > svg:hover #thyssenkrupp {
  fill: #039ef2;
}

.social-section > svg:hover #evonik {
  fill: #991a81;
}

.clutch-color,
.tm-color,
.goodFirms-color,
.topDevs-color {
  opacity: 0;
  transition: opacity 0.2s linear;
}

.clutch-icon:hover .clutch-color,
.tm-icon:hover .tm-color,
.goodFirms-icon:hover .goodFirms-color,
.topDevs-icon:hover .topDevs-color {
  opacity: 1;
}

.clutch-grey,
.tm-grey,
.goodFirms-grey,
.topDevs-grey {
  transition: opacity 0.2s linear;
}

.clutch-grey {
  margin: -10em 0 1em -1.2em;
}

.tm-grey {
  margin: -9em 0 1em -0.05em;
}

.goodFirms-grey {
  margin: -10em 0 1em -0.125em;
}

.topDevs-grey {
  margin: -11em 0 1.13em -1.1em;
}

.clutch-icon:hover .clutch-grey,
.tm-icon:hover .tm-grey,
.goodFirms-icon:hover .goodFirms-grey,
.topDevs-icon:hover .topDevs-grey {
  opacity: 0;
}
