@import '../normalize.css';
@import '../commonStyles/innerPageStyle.css';

body {
  background-color: #3655f4;
}

.title-section > h1 {
  margin: 0.45em 0 0 -3.68em;
}

.content-section {
  margin-top: -26.8em;
}

.dataProtection-article {
  margin-top: 2.5em;
}

.dataCollection-article {
  margin-top: 5em;
}

article {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

h3,
.section-container > article > h2 {
  font-size: 2.25em;
}

.section-container > article > p {
  font-size: 1em;
  line-height: 1.75em;
}

.section-container > article > h2 {
  margin-bottom: 1em;
}

.forensics-article {
  margin-bottom: 6.5em;
}
