@import '../index.css';
@import '../commonStyles/innerPageStyle.css';

.cube-animation :nth-child(1) {
  fill: var(--cube-left-side-purple-color);
}

.cube-animation :nth-child(2) {
  fill: var(--cube-right-side-purple-color);
}

.cube-animation :nth-child(3) {
  fill: var(--cube-bottom-side-purple-color);
}

.expertise-article > .vertical-inscription {
  margin-top: 12.5em;
}

.investments-article,
.increase-article,
.control-article,
.customization-article,
.scaling-article,
.security-article {
  margin-top: 4.25em;
}

.security-article {
  margin-bottom: 7.5em;
}

.increase-article > .vertical-inscription,
.customization-article > .vertical-inscription,
.security-article > .vertical-inscription {
  margin-top: 10em;
  margin-right: -6em;
}
