@import '../index.css';
@import '../commonStyles/innerPageStyle.css';
@import '../commonStyles/ÑubesAnimation.css';
@import '../commonStyles/onLoadInnerAnimation.css';

.cube-animation :nth-child(1) {
  fill: var(--cube-left-side-purple-color);
}

.cube-animation :nth-child(2) {
  fill: var(--cube-right-side-purple-color);
}

.cube-animation :nth-child(3) {
  fill: var(--cube-bottom-side-purple-color);
}

.section-content > h2 {
  height: 2.5em;
  margin-bottom: 0;
  line-height: 6.5em;
  overflow: hidden;
  transition: line-height 0.5s ease-in-out;
}

.investments-article,
.increase-article,
.control-article,
.customization-article,
.scaling-article,
.security-article {
  margin-top: 4.25em;
}

.security-article {
  margin-bottom: 7.5em;
}

.increase-article > .vertical-inscription,
.customization-article > .vertical-inscription,
.security-article > .vertical-inscription {
  margin-top: 10em;
  margin-right: -6em;
}

.header-container.header-container--visible,
.header-container.header-container--hide {
  background-color: var(--cube-left-side-purple-color);
}

.header-container.header-container--top-position {
  animation: show-header-background 0.6s ease-out, show-header-animation 0.5s ease-out;
}

.header-container.header-container--hide {
  background-color: var(--cube-left-side-purple-color);
  animation: hide-header-animation 0.5s ease-out;
}

.expertise-article .vertical-inscription {
  top: -14.5em;
}

.increase-article .vertical-inscription {
  top: -25.5em;
}

.customization-article .vertical-inscription {
  top: -22.3em;
}

.security-article .vertical-inscription {
  top: -20.8em;
}

@keyframes show-header-animation {
  0% {
    top: -9em;
  }
  100% {
    top: 0;
  }
}

@keyframes hide-header-animation {
  0% {
    top: 0;
  }
  100% {
    top: -9em;
  }
}

@keyframes show-header-background {
  0% {
    background-color: var(--cube-left-side-purple-color);
  }
  100% {
    background-color: transparent;
  }
}

@media all and (max-width: 768px) {
  body {
    background-color: var(--cube-left-side-purple-color);
  }

  .control-article,
  .customization-article,
  .increase-article,
  .investments-article,
  .scaling-article,
  .security-article {
    margin: 0;
  }
}
