@import '../index.css';
@import '../commonStyles/innerPageStyle.css';
@import '../commonStyles/сubesAnimation.css';
@import '../commonStyles/onLoadInnerAnimation.css';

.cube-animation :nth-child(1) {
  fill: var(--cube-left-side-purple-color);
}

.cube-animation :nth-child(2) {
  fill: var(--cube-right-side-purple-color);
}

.cube-animation :nth-child(3) {
  fill: var(--cube-bottom-side-purple-color);
}

.expertise-article .section-content {
  margin-right: 2.4em;
}

.section-content > h2 {
  height: 2.5em;
  margin-bottom: 0;
  line-height: 6.5em;
  overflow: hidden;
  transition: line-height 0.5s ease-in-out;
}

.article--active div > h2 {
  line-height: 1.12em;
}

.investments-article,
.increase-article,
.control-article,
.customization-article,
.scaling-article,
.security-article {
  margin-top: 4.25em;
}

.security-article {
  margin-bottom: 7.5em;
}

.increase-article > .vertical-inscription,
.customization-article > .vertical-inscription,
.security-article > .vertical-inscription {
  margin-top: 10em;
  margin-right: -6em;
}

.expertise-article .vertical-inscription {
  top: -14.5em;
}

.increase-article .vertical-inscription {
  top: -25.5em;
}

.customization-article .vertical-inscription {
  top: -22.3em;
}

.security-article .vertical-inscription {
  top: -20.8em;
}
