@import './css/cubesAnimation.css';
@import './css/normalize.css';
@import './css/onLoadAnimation.css';
@import './css/socialsAnimation.css';
/*TODO: Use "em" instead of "rem" where it make sense*/

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'montserrat_lightregular', sans-serif;
  background-color: #3655f4;
}

.header-container {
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 4rem 0 4rem;
  height: 10.125rem;
  width: 100%;
  background-color: transparent;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80em;
}

.button-container {
  display: flex;
}

.menu-button {
  width: 1.7rem;
  cursor: pointer;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #353535;
}

.title-section {
  display: flex;
  justify-content: flex-start;
  margin-top: 17em;
  color: #ffffff;
}

.section-container {
  width: 80em;
}

.title-section > .section-content {
  margin: -2.7em 0 0 -18.5em;
}

.section-content > h1,
.section-content > h2 {
  font-family: montserrat_mediumregular, sans-serif;
  font-size: 5.2em;
  font-weight: 600;
}

.section-container > .section-content > p {
  font-size: 1.9em;
  font-weight: 600;
  line-height: 1.5em;
}

.content-section {
  background-color: #ffffff;
}

footer {
  display: flex;
  justify-content: center;
  margin: 16.25rem 0 2.5rem 0;
  color: #ababab;
  font-size: 0.875rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 68.625rem;
}

.footer-container:first-child {
  flex-grow: 1;
}

.footer-right {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.footer-left {
  font-style: normal;
}

.footer-left > p > sup {
  color: red;
}

.footer-left > p > span {
  color: black;
}

.footer-left > a,
.footer-right > a {
  color: #ababab;
  text-decoration: none;
}

.footer-right > a {
  padding: 0 0.8em;
}
