@import './css/cubesAnimation.css';
@import './css/normalize.css';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'montserrat_lightregular', sans-serif;
}

.arrow {
  width: 1.4em;
  margin-left: 1.5em;
  fill: white;
}

.header-container {
  position: fixed;
  z-index: 2;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 4rem 0 4rem;
  height: 10.125rem;
  width: 100%;

  background-color: transparent;
}

.logo-container {
  display: block;
  width: 1.7em;
}

.logo-container > svg {
  fill: #ed1c24;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding: 0 25% 0 17%;
  color: #303030;
  font-family: 'montserratbold', sans-serif;
  letter-spacing: 0.088em;
}

.menu-container > .link {
  color: inherit;
  font-weight: 700;
  font-size: 0.875rem;
  text-decoration: none;
  cursor: pointer;
}

.menu-container > .link_red--active {
  color: rgb(229, 62, 56) !important;
}

.menu-container > .link_red:hover {
  color: rgb(229, 62, 56) !important;
}

.menu-container > .link_black--active {
  color: rgb(48, 48, 48) !important;
}

.menu-container > .link_black:hover {
  color: rgb(48, 48, 48) !important;
}

.button-container {
  display: flex;
}

.menu-button {
  width: 1.7rem;
  cursor: pointer;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #353535;
}

.supervise-section,
.expertise-section,
.budget-section,
.investments-section,
.effectiveness-section {
  display: flex;
  justify-content: center;
}

.supervise-section {
  padding-top: 14rem;
}

h1,
h2 {
  font-family: 'montserrat_extraboldregular', sans-serif;
}

.section-container {
  padding-right: 2%;
  color: #303030;
  z-index: 1;
  width: 69em;
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.5s, transform 0.5s;
}

.section-container--active {
  opacity: 1;
  transform: translateX(0);
}

.budget-section > .section-container > h2,
.control-section > .section-container > h2,
.power-section > .section-container > h2 {
  color: white;
}

.section-container > a {
  display: inline-flex;
  align-items: center;
  margin: 3em 0 0 4.5em;
  color: inherit;
  font-size: 0.8em;
  text-decoration: none;
}

.section-container > p {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.375rem;
}

.expertise-section > .section-container > div > .inner-section-text > p > span,
.power-section > .section-container > div > div > p > span {
  font-size: 2.188rem;
}

.section-container > h1,
.section-container > h2 {
  padding-top: 5rem;
  font-family: 'montserrat_mediumregular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 7.5rem;
  letter-spacing: 0;
  line-height: 130px;
  text-align: left;
  text-decoration: none;
  text-transform: none;
}

.text-container {
  display: flex;
  margin-top: 8rem;
}

.expertise-section > .section-container > .text-container {
  margin-top: -2.5rem;
}

.inner-section-image {
  min-width: 16.063rem;
  margin: 2.5rem 0 0 -2.5rem;
}

.expertise-section > .section-container > .text-container > .inner-section-image {
  margin-top: 5rem;
}

.inner-section-text {
  margin-left: -2.5rem;
  font-family: 'montserrat_mediumregular', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.375rem;
}

.expertise-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.75rem;
  width: 15.625rem;
  padding-left: 0.9rem;
  border: none;
  margin-top: 7.5rem;
  background-color: #ef3e3e;
  color: #ffffff;
  font-family: 'montserrat_lightregular', sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
}

.social-section {
  display: flex;
  justify-content: space-between;
  width: 68em;
  margin-top: 14.625rem;
}

.advantage-section > .section-container {
  margin-top: 17rem;
}

.advantage-section > .section-container > h2 > span,
.toolset-section > div > h2 > span {
  color: #ef3e3e;
}

.advantage-section > .section-container > p {
  padding-top: 2rem;
  font-family: 'montserrat_extralightregular', sans-serif;
  font-size: 2.25rem;
  line-height: 3.25rem;
}

.budget-section > .section-container > p.expertise-section-background-inscription {
  position: absolute;
  bottom: -3.938rem;
  left: 63.125rem;
  max-width: 13.125rem;
  transform: rotate(90deg);
  color: rgb(248, 176, 177);
  font-size: 0.8em;
}

.budget-text-container,
.control-text-container,
.power-text-container,
.toolset-text-container {
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 18.775rem;
  color: #ffffff;
}

.budget-section > .section-container > .budget-text-container > .budget-text > p,
.control-section > .section-container > .control-text-container > .control-text > p {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.375rem;
}

.budget-section > .section-container > .budget-text-container > .budget-text > .expertise-button,
.control-section > .section-container > .control-text-container > .control-text > .expertise-button,
.power-section > .section-container > .power-text-container > div > .expertise-button {
  border: 1px solid #bcbcbc;
  background-color: transparent;
}

.budget-section > .section-container > .expertise-button:hover {
  border: 1px solid #ffffff;
}

.budget-image,
.power-image {
  display: flex;
  justify-content: center;
  height: 43.688rem;
  width: 18.875rem;
  margin: 2rem -4.063rem 0 0;
  background-image: url(../assets/images/rectangle.svg);
}

.image-content {
  width: 14.5rem;
  margin-top: 10.25rem;
}

.image-content_middle {
  font-family: 'montserratbold', sans-serif;
  font-size: 2.25rem;
  line-height: 2.625rem;
}

.image-content_small {
  margin-top: 0.938rem;
}

.image-content_large {
  margin-top: 3rem;
  font-family: 'montserratbold', sans-serif;
  font-size: 4.5rem;
  line-height: 0;
}

div.power-image > .image-content > p.image-content_large {
  margin-top: 2rem;
  font-family: 'montserrat_extraboldregular', sans-serif;
  font-size: 5rem;
  font-weight: 900;
}

.toolset-text-container > .text-container > .inner-section-text {
  margin-top: -7em;
}

.toolset-section > div > div > div > div > p {
  color: #484848;
}

.advertising-section > .section-container > h2 > span {
  color: #ef3e3e;
}

.advertising-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 6rem;
  width: 22.76rem;
  margin-top: 5.938rem;
}

.advertising-check {
  display: flex;
  justify-content: space-between;
  width: 28rem;
  margin-top: 4.063rem;
  color: #ababab;
  font-size: 0.75rem;
  line-height: 1.125rem;
}

.advertising-check > input {
  margin-top: 1rem;
}

.advertising-section > div > div > button.expertise-button {
  margin-top: 3rem;
  width: 14.063rem;
}

.advertising-section > div > .inner-section-text {
  margin-left: 0;
}

.advertising-section > div > div > p {
  margin-top: -13rem;
}

footer {
  display: flex;
  justify-content: center;
  margin: 16.25rem 0 2.5rem 0;
  color: #ababab;
  font-size: 0.875rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 68.625rem;
}

.footer-container:first-child {
  flex-grow: 1;
}

.footer-container > p > sup {
  color: red;
}

.footer-container > p > span {
  color: black;
}

.supervise-section div h1 > span,
.advantage-section div h2 > span,
.expertise-section div h2 > span {
  color: #ef3e3e;
}
