@import './css/cubesAnimation.css';
@import './css/normalize.css';
@import './css/onLoadAnimation.css';
/*TODO: Use "em" instead of "rem" where it make sense*/

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'montserrat_lightregular', sans-serif;
}

.arrow {
  width: 1.4em;
  margin-left: 1.5em;
  fill: white;
}

.header-container {
  position: fixed;
  z-index: 2;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 4rem 0 4rem;
  height: 10.125rem;
  width: 100%;

  background-color: transparent;
}

.logo-container {
  display: block;
  width: 1.7em;
}

.logo-container > svg {
  fill: #ed1c24;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding: 0 25% 0 17%;
  color: #303030;
  font-family: 'montserratbold', sans-serif;
  letter-spacing: 0.088em;
}

.menu-container > .link {
  color: inherit;
  font-weight: 700;
  font-size: 0.875em;
  text-decoration: none;
  cursor: pointer;
}

.menu-container > .link_red--active {
  color: rgb(229, 62, 56);
}

.menu-container > .link_red:hover {
  color: rgb(229, 62, 56);
}

.menu-container > .link_black--active {
  color: rgb(48, 48, 48);
}

.menu-container > .link_black:hover {
  color: rgb(48, 48, 48);
}

.button-container {
  display: flex;
}

.menu-button {
  width: 1.7rem;
  cursor: pointer;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #353535;
}

.supervise-section,
.expertise-section,
.budget-section,
.investments-section,
.effectiveness-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.supervise-section {
  margin-top: 14em;
}

h1,
h2 {
  font-family: 'montserrat_extraboldregular', sans-serif;
}

.section-container {
  z-index: 1;
  width: 69em;
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.5s, transform 0.5s;
  color: #303030;
}

.section-container--active {
  opacity: 1;
  transform: translateX(0);
}

.vertical-inscription {
  display: flex;
  justify-content: space-between;
  min-width: 25em;
  margin-top: 2em;
  transform: rotate(90deg);
}

.wrap-image {
  transform: rotate(-90deg);
  height: 3em;
  width: 3em;
}

.wrap-image > img {
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  will-change: transform;
  cursor: pointer;
}

.wrap-image > img:hover {
  -o-transform: translateY(1.33em);
  -ms-transform: translateY(1.33em);
  -moz-transform: translateY(1.33em);
  -webkit-transform: translateY(1.33em);
  transform: translateY(1.33em);
}

.vertical-inscription > p {
  margin: 0.1em 1em 0 0;
  color: #353535;
  font-family: 'montserrat_mediumregular', sans-serif;
  font-size: 2em;
  font-weight: 600;
}

.budget-section > h2,
.control-section > h2,
.power-section > h2 {
  color: white;
}

.budget-section > svg,
.control-section > svg,
.power-section > svg {
  position: absolute;
  z-index: -1;
  right: 0;
  top: 11em;
}

.power-section > svg {
  top: 7em;
}

.section-container > a {
  display: inline-flex;
  align-items: center;
  margin: 3em 0 0 4.5em;
  color: inherit;
  font-size: 0.8em;
  text-decoration: none;
}

.section-container > p {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.375rem;
}

.expertise-section .inner-section-text > p > span,
.power-section div > p > span {
  font-size: 2.188rem;
}

.section-container > h1,
.section-container > h2 {
  margin-top: 1em;
  font-family: 'montserrat_mediumregular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 7.5em;
  letter-spacing: 0;
  line-height: 1.125em;
  text-align: left;
  text-decoration: none;
  text-transform: none;
}

.text-container {
  display: flex;
  margin-top: 3em;
}

.expertise-section > .section-container > .text-container {
  margin-top: -2.5em;
}

.inner-section-image {
  min-width: 16.063em;
  margin: 2.5em 0 0 -2.5em;
}

.expertise-section > .section-container > .text-container > .inner-section-image {
  margin-top: 5em;
}

.inner-section-text {
  margin-left: -1.5em;
  font-family: montserrat_mediumregular, sans-serif;
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.7em;
}

.expertise-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.6em;
  width: 15.625em;
  padding-left: 0.9em;
  border: none;
  margin-top: 7em;
  background-color: #ef3e3e;
  color: #fff;
  font-family: montserrat_lightregular, sans-serif;
  font-size: 0.6em;
  font-weight: 600;
}

.social-section {
  display: flex;
  justify-content: space-between;
  width: 68em;
  margin-top: 14.625em;
}

.advantage-section > .section-container {
  margin-top: 17em;
}

.advantage-section > .section-container > h2 > span,
.toolset-section > h2 > span {
  color: #ef3e3e;
}

.advantage-content-wrapper {
  display: flex;
}

.advantage-content-wrapper > .vertical-inscription {
  margin-bottom: -22em;
  margin-left: -10em;
  min-width: 30em;
}

.advantage-section > .advantage-content-wrapper > p {
  padding-top: 2rem;
  font-family: 'montserrat_extralightregular', sans-serif;
  font-size: 2.25rem;
  line-height: 3.25rem;
}

.budget-section > p.expertise-section-background-inscription {
  position: absolute;
  bottom: -3.938rem;
  left: 63.125rem;
  max-width: 13.125rem;
  transform: rotate(90deg);
  color: rgb(248, 176, 177);
  font-size: 0.8em;
}

.budget-text-container,
.control-text-container,
.power-text-container,
.toolset-text-container {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

.budget-section > .budget-text-container > .budget-text > p,
.control-section > .control-text-container > .control-text > p {
  width: 18.375em;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.6em;
}

.budget-section > .budget-text-container > .vertical-inscription {
  min-width: 14em;
  margin: -27em 0 0 -70em;
}

.budget-section > .budget-text-container > .vertical-inscription > p,
.power-section > .power-text-container > .vertical-inscription > p {
  color: #ffffff;
}

.budget-section > .budget-text-container > .budget-text > .expertise-button,
.control-section > .control-text-container > .control-text > .expertise-button,
.power-section > .power-text-container > div > .expertise-button {
  border: 0.01em solid #bcbcbc;
  background-color: transparent;
  height: 3.5em;
  width: 15.5em;
  margin-top: 4.6em;
  font-size: 0.9em;
}

.power-section > .power-text-container > div > .expertise-button {
  font-size: 0.6em;
}

.budget-section > .expertise-button:hover {
  border: 1px solid #ffffff;
}

.power-section > .power-text-container > .vertical-inscription {
  margin: -16em 0 0 -60em;
}

.budget-image,
.power-image {
  display: flex;
  justify-content: center;
  height: 43.688rem;
  width: 18.875rem;
  margin: 2rem -4.063rem 0 0;
  background-image: url(../assets/images/rectangle.svg);
}

.image-content {
  width: 14.5rem;
  margin-top: 10.25rem;
}

.image-content_middle {
  font-family: 'montserratbold', sans-serif;
  font-size: 2.25rem;
  line-height: 2.625rem;
}

.image-content_small {
  margin-top: 0.938rem;
}

.image-content_large {
  margin-top: 3rem;
  font-family: 'montserratbold', sans-serif;
  font-size: 4.5rem;
  line-height: 0;
}

div.power-image > .image-content > p.image-content_large {
  margin-top: 2rem;
  font-family: 'montserrat_extraboldregular', sans-serif;
  font-size: 5rem;
  font-weight: 900;
}

.toolset-text-container > .text-container > .inner-section-text {
  margin-top: -7em;
}

.toolset-section div > p {
  color: #484848;
}

.advertising-section > h2 > span {
  color: #ef3e3e;
}

.advertising-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 4em;
  width: 16.76em;
  margin-top: 2.938em;
}

.advertising-check {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 36em;
  margin-top: 5.063em;
  color: #ababab;
  font-size: 0.5em;
  line-height: 1.5em;
}

.advertising-section div > button.expertise-button {
  margin-top: 3.2em;
  width: 14.5em;
}

.advertising-section .inner-section-text {
  margin-left: 0;
}

.advertising-section div > p {
  margin-top: -2em;
}

.mailIcon-container {
  position: fixed;
  right: 0.063em;
  bottom: 1.25em;
  z-index: 10;
}

.mailImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.25em;
  height: 3.25em;
  margin: 0 4em 0 0;
  border-radius: 50%;
  background-color: #353535;
}

footer {
  display: flex;
  justify-content: center;
  margin: 16.25rem 0 2.5rem 0;
  color: #ababab;
  font-size: 0.875rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 68.625rem;
}

.footer-container:first-child {
  flex-grow: 1;
}

.footer-container > p > sup {
  color: red;
}

.footer-container > p > span {
  color: black;
}

.supervise-section h1 > span,
.advantage-section h2 > span,
.expertise-section h2 > span {
  color: #ef3e3e;
}
