{% from "macro/head.html" import head %}
{% from "macro/contactLinks.html" import contactLinks %}

{% extends "inner-layout.html" %}

{% block head %}
    {{ head("css/strategyPage/index.css") }}
{% endblock%}

{% block content %}
    <section class="title-section section-container">
        <div class="content-wrapper">
            <div class="section-content">
                <h1>Strategy</h1>
                <p>We offer an A to Z approach to<br> your advertising management.</p>
            </div>
        </div>
    </section>
    <section class="content-section section-container">
        <div class="content-wrapper strategy-content">
            <article class="analysis-article article--active article">
                <div class="content-column">
                    <div class="section-content">
                        <h2>Deep analysis</h2>
                        <p>We examine, monitor and evaluate existing
                            processes in your ad management. We identify areas for improvement and development.</p>
                    </div>
                    <div class="svg-container">
                        <svg id="analysis-article_cube" width="300px" height="320px" viewBox="-50 0 450 400" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Page-Synergy" transform="translate(-823.000000, -884.000000)">
                                    <g id="1" transform="translate(823.000000, 884.000000)">
                                        <polygon id="Fill-1" fill="#F9F9FA" points="153 0 0 65.3512358 0 277 153 218.429462"></polygon>
                                        <polygon id="Fill-2" fill="#EEEEEE" points="153 0 153 218.771564 325 291 325 72.3931401"></polygon>
                                        <polygon id="Fill-3" fill="#F4F4F5" points="0 275.755942 179.262398 341 325 289.342498 153.056781 217"></polygon>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                </div>
                <div class="vertical-inscription-container">
                    <a href="#clear" class="vertical-inscription strategy-inscription">
                        <div class="vertical-inscription-img-container">
                            <img src="./assets/images/ArrowBlack.svg" alt="Using this landmark you can navigate to the next section"/>
                        </div>
                        <span>Next step</span>
                    </a>
                </div>
            </article>
            <article class="clear-article article content-column" id="clear">
                <div class="svg-container">
                    <svg id="clear-article_cube" width="400px" height="395px" viewBox="0 0 430 341" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Page-Synergy" transform="translate(-823.000000, -884.000000)">
                                <g id="1" transform="translate(823.000000, 884.000000)">
                                    <polygon id="Fill-1" fill="#F9F9FA" points="153 0 0 65.3512358 0 277 153 218.429462"></polygon>
                                    <polygon id="Fill-2" fill="#EEEEEE" points="153 0 153 218.771564 325 291 325 72.3931401"></polygon>
                                    <polygon id="Fill-3" fill="#F4F4F5" points="0 275.755942 179.262398 341 325 289.342498 153.056781 217"></polygon>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="section-content">
                    <h2>Clear view</h2>
                    <p>We give you an honest understanding of concrete problems, existing gaps & potential savings.</p>
                </div>
            </article>
            <article class="consulting-article consulting article">
                <div class="content-column content-column--start">
                    <div class="section-content">
                        <h2>Consulting</h2>
                        <p>By applying our unique expertise & best practices, we offer the best way for improving your digital ad management.</p>
                    </div>
                    <div class="svg-container svg-bg--right">
                        <svg id="consulting-article_cube" width="400px" height="520px" viewBox="-50 0 400 354" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Page-Synergy" transform="translate(-823.000000, -884.000000)">
                                    <g id="1" transform="translate(823.000000, 884.000000)">
                                        <polygon id="Fill-1" fill="#F9F9FA" points="153 0 0 65.3512358 0 277 153 218.429462"></polygon>
                                        <polygon id="Fill-2" fill="#EEEEEE" points="153 0 153 218.771564 325 291 325 72.3931401"></polygon>
                                        <polygon id="Fill-3" fill="#F4F4F5" points="0 275.755942 179.262398 341 325 289.342498 153.056781 217"></polygon>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                </div>
                <div class="vertical-inscription-container">
                    <a href="#implementation" class="vertical-inscription consulting-inscription">
                        <div class="vertical-inscription-img-container">
                            <img src="./assets/images/ArrowBlack.svg" alt="Using this landmark you can navigate to the next section"/>
                        </div>
                        <span>And finally</span>
                    </a>
                </div>
            </article>
            <article class="implementation-article article content-column content-column--end" id="implementation">
                <div class="svg-container svg-bg--left">
                    <svg id="implementation-article_cube" width="325px" height="341px" viewBox="0 0 325 341" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Page-Synergy" transform="translate(-823.000000, -884.000000)">
                                <g id="1" transform="translate(823.000000, 884.000000)">
                                    <polygon id="Fill-1" fill="#F9F9FA" points="153 0 0 65.3512358 0 277 153 218.429462"></polygon>
                                    <polygon id="Fill-2" fill="#EEEEEE" points="153 0 153 218.771564 325 291 325 72.3931401"></polygon>
                                    <polygon id="Fill-3" fill="#F4F4F5" points="0 275.755942 179.262398 341 325 289.342498 153.056781 217"></polygon>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="section-content">
                    <h2>Implementation</h2>
                    <p>Our development team will implement the solution using our deep knowledge on custom SEM tools.</p>
                </div>
            </article>
        </div>
    </section>
{% endblock %}

{% block contactItems %}
    {{ contactLinks() }}
{% endblock %}