{% from "macro/head.html" import head %}
{% from "macro/contactLinks.html" import contactLinks %}

{% extends "inner-layout.html" %}

{% block head %}
    {{ head("css/synergyPage/index.css") }}
{% endblock%}

{% block content %}
    <section class="title-section section-container">
        <div class="content-wrapper">
            <div class="section-content">
                <h1>Synergy</h1>
                <p>We are walking side-by-side<br> with you on the whole way<br> to benefits.</p>
            </div>
        </div>
    </section>
    <section class="content-section section-container">
        <div class="content-wrapper">
            <article class="you-article article--active article">
                <div class="content-column">
                    <div class="section-content">
                        <h2>You are</h2>
                        <p>Are your advertising needs outgrowing your current capabilities?</p>
                        <p>Do you need to evolve your ad management to a more progressive, efficient and reliable level?</p>
                        <p>Are you tired of adjusting your ad processes to conform to ad platforms?</p>
                    </div>
                    <div class="svg-container">
                        <svg id="you_article_cube" width="325px" height="341px" viewBox="0 0 325 341" version="1.1"
                             xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             aria-hidden="true">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Page-Synergy" transform="translate(-823.000000, -884.000000)">
                                    <g id="1" transform="translate(823.000000, 884.000000)">
                                        <polygon id="Fill-1" fill="#F9F9FA"
                                                 points="153 0 0 65.3512358 0 277 153 218.429462"></polygon>
                                        <polygon id="Fill-2" fill="#EEEEEE"
                                                 points="153 0 153 218.771564 325 291 325 72.3931401"></polygon>
                                        <polygon id="Fill-3" fill="#F4F4F5"
                                                 points="0 275.755942 179.262398 341 325 289.342498 153.056781 217"></polygon>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                </div>
                <div class="vertical-inscription-container">
                    <a href="#we" class="vertical-inscription">
                        <div class="vertical-inscription-img-container">
                            <img src="./assets/images/ArrowBlack.svg"
                                 alt="Using this landmark you can navigate to the next section"/>
                        </div>
                        <span>Achieve more</span>
                    </a>
                </div>
            </article>
            <article class="we-article article content-column" id="we">
                <div class="svg-container">
                    <svg id="we_article_cube" width="325px" height="341px" viewBox="0 0 325 341" version="1.1"
                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Page-Synergy" transform="translate(-823.000000, -884.000000)">
                                <g id="1" transform="translate(823.000000, 884.000000)">
                                    <polygon id="Fill-1" fill="#F9F9FA"
                                             points="153 0 0 65.3512358 0 277 153 218.429462"></polygon>
                                    <polygon id="Fill-2" fill="#EEEEEE"
                                             points="153 0 153 218.771564 325 291 325 72.3931401"></polygon>
                                    <polygon id="Fill-3" fill="#F4F4F5"
                                             points="0 275.755942 179.262398 341 325 289.342498 153.056781 217"></polygon>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="section-content">
                    <h2>We are</h2>
                    <p>We are a team of 300 specialists each with 5 years experience in ad management consultancy.</p>
                    <p>Combine that with our more than 19 years of delivering IT solutions and you get the perfect mix of
                        consulting and tech excellence.</p>
                </div>
            </article>
            <div class="external-links">
                <div class="img-list-container hidden-lg">
                    <div class="clutch-icon" aria-label="clutch icon">
                        <img class="clutch-color garay-filter" src="./assets/images/Clutch.png" aria-hidden="true">
                    </div>
                    <div class="tm-icon" aria-label="tm icon">
                        <img class="tm-color garay-filter" src="./assets/images/Tm.png" aria-hidden="true">
                    </div>
                    <div class="goodFirms-icon" aria-label="goodFirms icon">
                        <img class="goodFirms-color garay-filter" src="./assets/images/Goodfirms.png" aria-hidden="true">
                    </div>
                    <div class="topDevs-icon" aria-label="topDevs icon">
                        <img class="topDevs-color garay-filter" src="./assets/images/TopDevelopers.png" aria-hidden="true">
                    </div>
                </div>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide clutch-icon" aria-label="clutch icon">
                            <img class="clutch-color garay-filter" src="./assets/images/Clutch.png" aria-hidden="true">
                        </div>
                        <div class="swiper-slide tm-icon" aria-label="tm icon">
                            <img class="tm-color garay-filter" src="./assets/images/Tm.png" aria-hidden="true">
                        </div>
                        <div class="swiper-slide goodFirms-icon" aria-label="goodFirms icon">
                            <img class="goodFirms-color garay-filter" src="./assets/images/Goodfirms.png"
                                 aria-hidden="true">
                        </div>
                        <div class="swiper-slide topDevs-icon" aria-label="topDevs icon">
                            <img class="topDevs-color garay-filter" src="./assets/images/TopDevelopers.png"
                                 aria-hidden="true">
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <article class="together article">
                <div class="content-column content-column--start">
                    <div class="section-content">
                        <h2>Together</h2>
                        <p>Let us enrich your power with a proactive dedicated team of experienced advertising researchers,
                            strategists, analysts & developers. Our specialists will integrate seamlessly into your
                            team.</p>
                        <p>In cooperation we will meet even the most demanding of requirements in search engine
                            marketing.</p>
                    </div>
                    <div class="svg-container svg-bg--right">
                        <svg width="715px" height="788px" viewBox="0 0 750 830" version="1.1" aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="Edge" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="together_article_cube2">
                                    <polygon id="Fill-3" fill="#EAEAEA"
                                             points="0 368.532444 239.33355 455 434 386.539333 203.592677 289.455338"></polygon>
                                    <polygon id="Fill-1" fill="#F8F8F9"
                                             points="203.592677 0 1.11924105 87.0093336 0 368.75817 203.592677 290.432178"></polygon>
                                    <polygon id="Fill-2" fill="#EFEFEF"
                                             points="203.647298 0 203.592677 290.427874 434 386.601307 433.904414 96.1870593"></polygon>
                                </g>
                                <g transform="translate(205.000000, 251.000000)">
                                    <g id="together_article_cube1">
                                        <polygon id="Fill-1" fill="#F7F7F8"
                                                 points="238.617769 0.557894937 1.70530257e-13 103.600256 1.70530257e-13 435.948435 238.852082 342.813996"></polygon>
                                        <path d="M238.612151,0.55268759 L509.988514,113.91621 L509.988514,456.23948 L238.612151,342.875957 C238.612151,342.875957 238.547852,0.55268759 238.612151,0.55268759"
                                              id="Fill-2" fill="#ECECEC"></path>
                                        <polygon id="Fill-5" fill="#E7E8E8"
                                                 points="280.70929 537.005546 0.000459274919 434.998089 238.612151 342.875041 509.988515 456.238563"></polygon>

                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                </div>
                <div class="vertical-inscription-container">
                    <a href="#contact" class="vertical-inscription">
                        <div class="vertical-inscription-img-container">
                            <img src="./assets/images/ArrowBlack.svg"
                                 alt="Using this landmark you can navigate to the next section"/>
                        </div>
                        <span>Let's talk</span>
                    </a>
                </div>
            </article>
        </div>
    </section>
{% endblock %}

{% block contactItems %}
    {{ contactLinks() }}
{% endblock %}
