@import '../index.css';
@import '../commonStyles/innerPageStyle.css';
@import '../commonStyles/ÑubesAnimation.css';
@import '../commonStyles/onLoadInnerAnimation.css';

.cube-animation :nth-child(1) {
  fill: var(--cube-left-side-red-color);
}

.cube-animation :nth-child(2) {
  fill: var(--cube-right-side-red-color);
}

.cube-animation :nth-child(3) {
  fill: var(--cube-bottom-side-red-color);
}

.strategy-content article.clear-article,
.strategy-content article.consulting {
  margin-top: 3em;
}

.strategy-content article.consulting .section-content {
  z-index: 2;
}

.strategy-content article.consulting-article > a.consulting-inscription {
  margin: 11.5em -7.5em 0 -15em;
}

.analysis-article .vertical-inscription {
  top: -2.4em;
}

.header-container.header-container--visible,
.header-container.header-container--hide {
  background-color: var(--cube-left-side-red-color);
}

.header-container.header-container--top-position {
  animation: show-header-background 0.6s ease-out, show-header-animation 0.6s ease-out;
}

.header-container.header-container--hide {
  background-color: var(--cube-left-side-red-color);
  animation: hide-header-animation 0.5s ease-out;
}

@keyframes show-header-animation {
  0% {
    top: -9em;
  }
  100% {
    top: 0;
  }
}

@keyframes hide-header-animation {
  0% {
    top: 0;
  }
  100% {
    top: -9em;
  }
}

@keyframes show-header-background {
  0% {
    background-color: var(--cube-left-side-red-color);
  }
  100% {
    background-color: transparent;
  }
}

@media all and (max-width: 1400px) {
  article.content-column--start,
  article.content-column--end,
  .content-column--start,
  .content-column--end {
    padding-top: 8em;
    padding-bottom: 14em;
  }
}

@media all and (max-width: 1130px) {
  article.content-column--start,
  article.content-column--end,
  .content-column--start,
  .content-column--end {
    padding-top: 4em;
    padding-bottom: 12em;
  }
}

@media all and (max-width: 768px) {
  body {
    background-color: var(--cube-left-side-red-color);
  }

  .strategy-content article.clear-article,
  .strategy-content article.consulting {
    margin-top: 0;
  }
}
