@import '../index.css';
@import '../commonStyles/innerPageStyle.css';
@import '../commonStyles/onLoadInnerAnimation.css';

.cube-animation :nth-child(1) {
  fill: var(--cube-left-side-red-color);
}

.cube-animation :nth-child(2) {
  fill: var(--cube-right-side-red-color);
}

.cube-animation :nth-child(3) {
  fill: var(--cube-bottom-side-red-color);
}

a.strategy-inscription {
  margin: 11em -7em 0 0;
}

article.analysis-article {
  margin-top: 2.8em;
}

article.clear-article {
  margin-top: 8.2em;
}

article.consulting {
  margin-top: 15.5em;
}

article.consulting-article > a.consulting-inscription {
  margin-top: 11.5em;
}

article.implementation-article {
  margin-top: 26.5em;
  margin-bottom: 22em;
}
